
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                    <mat-accordion>
    <div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
        <p-panel [toggleable]="true" #table26 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
            <p-header>
                <div class="ui-panel-title">
                    Add Raw Material Master
                    <div class="ui-panel-title-buttons">
                        <input *ngIf="!table26.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    </div>
                </div>
            </p-header>
            <form name="form" #f_datatable_26="ngForm" novalidate>
                <p-table #dt
                         [columns]="scrollableColsArray[0]"
                         [rows]="5"
                         [globalFilterFields]="filterColsArray[0]"
                         [showCurrentPageReport]="true"
                         paginatorDropdownAppendTo="body"
                         [value]="primeNgTableArray[0]"
                         [paginator]="true"
                         [scrollable]="true" scrollHeight="280px"
                         [rowsPerPageOptions]="[5,10,20,50]"
                         [resizableColumns]="true"
                         columnResizeMode="expand"
                         [reorderableColumns]="true"
                         [rowHover]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [(selection)]="selectedRows">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                                    <th class='ui-resizable-column int DropDownList'
                                        title='Product'
                                        pSortableColumn="Product" pResizableColumn pReorderableColumn>
Product                                                <p-sortIcon field="Product" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                    </th>
                                    <th class='ui-resizable-column string TextBox'
                                        title='Raw Material'
                                        pSortableColumn="rawMaterial" pResizableColumn pReorderableColumn>
Raw Material                                                <p-sortIcon field="rawMaterial" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                    </th>
                        </tr>
                        <tr>
                                    <th style="padding:1px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Product', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;" />


                                    </th>
                                    <th style="padding:1px;border-bottom: 0;" class='ui-resizable-column string TextBox'>
                                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'rawMaterial', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;" />


                                    </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr>
                                                        <td class='ui-resizable-column int DropDownList' [title]='rowData["Product"]'>
                                            <div class="inputbox">
                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[1].DropDownValues"
                                name="Product{{rowIndex+1}}"
                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                (onChange)="rowData['Product'] = $event.value.Value"
                                [ngModel]="getDefaultValue(rowData['Product'],Module[0].moduleList[0].moduleDetails[1].DropDownValues)">
                    </p-dropdown>
                    </div>


                                    </td>
                                <td class='ui-resizable-column string TextBox' [title]='rowData["rawMaterial"]'>
                                            <div class="inputbox">
                                                    <input type="text" name="rawMaterial{{rowIndex+1}}" [(ngModel)]='rowData["rawMaterial"]' pInputText>
                                            </div>


                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string TextBox'>

                                        </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="summary" style="text-align:right;">
                            <div class="ui-helper-clearfix" style="text-align: left;">
                                    <button type="button" pButton icon="pi pi-file" iconPos="left" label='save' (click)="SubmitPrimeNgTable(26,f_filter_23?f_filter_23.value:null,dt,0)" style="margin-right: 0.5em;" class="ui-button-primary"></button>
                                                                <button type="button" pButton icon="pi pi-download" iconPos="left" label="Download" (click)="downloadreport()" style="margin-right: 0.5em;" class="ui-button-primary"></button>
                            </div>
                        </ng-template>
                        </p-table>
                        </form>
                        </p-panel>
                        </div>

    <div *ngIf="frozenColsArray[1] && scrollableColsArray[1] && primeNgTableArray[1] && selectedColumnsArray[1]">
        <p-panel [toggleable]="true" #table27 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[1].length <= 4 }">
            <p-header>
                <div class="ui-panel-title">
                    Raw Material Screen
                    <div class="ui-panel-title-buttons">
                        <input *ngIf="!table27.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    </div>
                </div>
            </p-header>
            <form name="form" #f_datatable_27="ngForm" novalidate>
                <p-table #dt
                         [columns]="scrollableColsArray[1]"
                         [rows]="5"
                         [globalFilterFields]="filterColsArray[1]"
                         [showCurrentPageReport]="true"
                         paginatorDropdownAppendTo="body"
                         [value]="primeNgTableArray[1]"
                         [paginator]="true"
                         [scrollable]="true" scrollHeight="280px"
                         [rowsPerPageOptions]="[5,10,20,50]"
                         [resizableColumns]="true"
                         columnResizeMode="expand"
                         [reorderableColumns]="true"
                         [rowHover]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [(selection)]="selectedRows">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                                    <th class='ui-resizable-column string Label'
                                        title='Product'
                                        pSortableColumn="Product" pResizableColumn pReorderableColumn>
Product                                                <p-sortIcon field="Product" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                    </th>
                                    <th class='ui-resizable-column string Label'
                                        title='Raw Material'
                                        pSortableColumn="rawMaterial" pResizableColumn pReorderableColumn>
Raw Material                                                <p-sortIcon field="rawMaterial" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                    </th>
                                    <th class='ui-resizable-column boolean Checkbox'
                                        title='Delete'
                                        pSortableColumn="Active" pResizableColumn pReorderableColumn>
DeleteDelete                                                <p-sortIcon field="Active" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                    </th>
                        </tr>
                        <tr>
                                    <th style="padding:1px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Product', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;" />


                                    </th>
                                    <th style="padding:1px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'rawMaterial', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;" />


                                    </th>
                                    <th style="padding:1px;border-bottom: 0;" class='ui-resizable-column boolean Checkbox'>
                                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Active', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;" />


                                    </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr>
                                                        <td class='ui-resizable-column string Label' [title]='rowData["Product"]'>
                                                    <span>{{rowData["Product"]}}</span>


                                    </td>
                                <td class='ui-resizable-column string Label' [title]='rowData["rawMaterial"]'>
                                                    <span>{{rowData["rawMaterial"]}}</span>


                                    </td>
                                <td class='ui-resizable-column boolean Checkbox' [title]='rowData["Active"]'>
                                            <p-checkbox [(ngModel)]='rowData["Active"]' [binary]="true" name="Active{{rowIndex+1}}"></p-checkbox>


                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column boolean Checkbox'>

                                        </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="summary" style="text-align:right;">
                            <div class="ui-helper-clearfix" style="text-align: left;">
                                    <button type="button" pButton icon="pi pi-file" iconPos="left" label='Submit' (click)="SubmitPrimeNgTable(27,f_filter_23?f_filter_23.value:null,dt,1)" style="margin-right: 0.5em;" class="ui-button-primary"></button>
                                                                <button type="button" pButton icon="pi pi-download" iconPos="left" label="Download" (click)="downloadreport()" style="margin-right: 0.5em;" class="ui-button-primary"></button>
                            </div>
                        </ng-template>
                        </p-table>
                        </form>
                        </p-panel>
                        </div>

                    </mat-accordion>


</ion-content>

