ion-tab-bar {
    overflow-x: auto;
    justify-content:inherit;
    width: 100%;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

::-webkit-scrollbar-track
    {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 10px!important;
    background-color: #F5F5F5!important;
    }

    ::-webkit-scrollbar
    {
    width: 10px!important;
    height: 5px;
    background-color: #F5F5F5!important;
    }

    ::-webkit-scrollbar-thumb
    {
    border-radius: 10px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: lightgray!important;
    }

ion-label{font-size:12px !important;}

@media(min-width:1100px){
    ion-tab-bar {
        overflow-x: hidden;
        justify-content:inherit;
        width: 100%;
        /*-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;*/
    }
    ion-tab-bar:hover{
        overflow-x: auto;
        overflow-y:hidden;
    }

}