


<ion-menu style="padding-top:62px;">
    <p-panelMenu [model]="MenuData"    [multiple]="false"
    [style]="{'width':'300px', 'margin-top':'62px', 'padding-left':'4px'}"></p-panelMenu>
    </ion-menu> 
    <div style="margin-top:0;z-index: 999;" *ngIf="SubMenu!=undefined">
        <p-menubar autoZIndex="true" [model]="SubMenu" (click) ="activeMenu($event)" >
            <!-- <div style="display: flex;margin-top: -7px;">
                <ion-menu-button></ion-menu-button>
                <ion-buttons slot="end">
                    <ion-title> Admin </ion-title>       
                    <ion-button tappable><ion-icon slot="start" name="help-circle"></ion-icon></ion-button>   
                    <ion-button (click)="home()"><ion-icon slot="start" name="home"></ion-icon></ion-button>
                     <ion-button tappable (click)="shownotifications($event)">
                        <ion-icon name="notifications"></ion-icon>
                    </ion-button>
                    <ion-button tappable (click)="logout()"><ion-icon name="log-out" slot="start"></ion-icon></ion-button>
                </ion-buttons>
            </div> -->
            <!-- <ng-template pTemplate="start">
                <ion-menu-button></ion-menu-button>
              </ng-template>
              <ng-template pTemplate="end"> -->
                <!-- <ion-title class="header-title">{{name| titlecase}}</ion-title> -->
                
              <!-- </ng-template>  -->
        </p-menubar>
        <!-- <p-breadcrumb [model]="breadcrumbsitems" [home]="breadcrumbshome"></p-breadcrumb> -->
    </div>
    <div style="margin-top:95px;" >  
        <ion-router-outlet style="margin-top: 95px;" id="content" main></ion-router-outlet> 
    </div>
    
    
    