<ion-header>
<ion-toolbar *ngIf="name!='login'">
        <ion-buttons slot="start">
                <ion-back-button defaultHref="/menu/first" (click)="back()" routerDirection="back"></ion-back-button>
            <ion-menu-toggle>
                <ion-menu-button></ion-menu-button>
             </ion-menu-toggle>
        </ion-buttons>
        <ion-title class="header-title">{{name| titlecase}}</ion-title>
        <ion-buttons slot="end" *ngIf="name!='registration'">
            <ion-title *ngIf="companyname">{{companyname}}</ion-title>       
            <ion-button tappable><ion-icon slot="start" name="help-circle"></ion-icon></ion-button>   
            <ion-button (click)="home()"><ion-icon slot="start" name="home"></ion-icon></ion-button>
            <!--<ion-button tappable><ion-icon name="notifications" slot="start"></ion-icon></ion-button>-->              
             <ion-button tappable (click)="shownotifications($event)">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge id="cart-badge">{{badgeValue}}</ion-badge>
            </ion-button>
            <ion-button tappable (click)="logout()"><ion-icon name="log-out" slot="start"></ion-icon></ion-button>
        </ion-buttons>
</ion-toolbar>
<ion-toolbar *ngIf="name=='login'">
    <ion-title class="Login-title">{{AppName}}</ion-title>
</ion-toolbar>
</ion-header>
