
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div *ngIf="showfilter" style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <button pButton class="ui-button-primary ui-button-raised" iconPos="left" label="Filter" icon="pi pi-filter" (click)="showfilter=!showfilter"></button>
        </div>
        <div [hidden]="showfilter" class="filter">
            <form class="ui-fluid p-formgrid p-grid" #f_filter_6="ngForm" (ngSubmit)="onSubmitFilter(f_filter_6.value)">
                <div *ngIf="PageMenuDetails && showInFilter('validMonth')" class="p-field p-col-12 p-md-2">

                    <p-calendar [(ngModel)]="validMonth" view="month" name="validMonth" dataType="string" placeholder="validMonth" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_6.form.valid" routerDirection="forward"></button>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button style="max-width: 75px;" pButton label="Reset" (click)="f_filter_6.reset()"></button>
        <i style="float:right;margin-top:6px;margin-left:5px" (click)="showfilter=!showfilter" class="pi pi-times"></i>
    </div>
</form>
        </div>

                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table9 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Rail Screen
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table9.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('9')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_9)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(9,f_filter_6?f_filter_6.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_9 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_9="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="PlantName" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="PlantName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Product'
                                    pSortableColumn="Product" pResizableColumn pReorderableColumn>
Product                                            <p-sortIcon field="Product" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Ship To Party'
                                    pSortableColumn="ShipToParty" pResizableColumn pReorderableColumn>
Ship To Party                                            <p-sortIcon field="ShipToParty" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='City'
                                    pSortableColumn="City" pResizableColumn pReorderableColumn>
City                                            <p-sortIcon field="City" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal TextBox'
                                    title='Freight Per Ton'
                                    pSortableColumn="FreightPerTone" pResizableColumn pReorderableColumn>
Freight Per Ton                                            <p-sortIcon field="FreightPerTone" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int TextBox'
                                    title='Capacity'
                                    pSortableColumn="Capacity" pResizableColumn pReorderableColumn>
Capacity                                            <p-sortIcon field="Capacity" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int TextBox'
                                    title='MaxCapacity'
                                    pSortableColumn="MaxCapacity" pResizableColumn pReorderableColumn>
MaxCapacity                                            <p-sortIcon field="MaxCapacity" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Tolerance'
                                    pSortableColumn="Tolerance" pResizableColumn pReorderableColumn>
Tolerance                                            <p-sortIcon field="Tolerance" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column month Label'
                                    title='Valid From'
                                    pSortableColumn="ValidFrom" pResizableColumn pReorderableColumn>
Valid From                                            <p-sortIcon field="ValidFrom" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column month Label'
                                    title='Valid To'
                                    pSortableColumn="ValidTo" pResizableColumn pReorderableColumn>
Valid To                                            <p-sortIcon field="ValidTo" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PlantName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Product', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ShipToParty', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'City', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'FreightPerTone', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Capacity', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'MaxCapacity', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Tolerance', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column month Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ValidFrom', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column month Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ValidTo', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["PlantName"]'>
                                                        <span>{{rowData["PlantName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Product"]'>
                                                        <span>{{rowData["Product"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["ShipToParty"]'>
                                                        <span>{{rowData["ShipToParty"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["City"]'>
                                                        <span>{{rowData["City"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal TextBox' [title]='rowData["FreightPerTone"]'>
                                                <div class="inputbox">
                                                        <p-inputNumber [(ngModel)]='rowData["FreightPerTone"]' mode="decimal" name="FreightPerTone{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int TextBox' [title]='rowData["Capacity"]'>
                                                <div class="inputbox">
                                                        <p-inputNumber [(ngModel)]='rowData["Capacity"]' name="Capacity{{rowIndex+1}}"></p-inputNumber>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int TextBox' [title]='rowData["MaxCapacity"]'>
                                                <div class="inputbox">
                                                        <p-inputNumber [(ngModel)]='rowData["MaxCapacity"]' name="MaxCapacity{{rowIndex+1}}"></p-inputNumber>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Tolerance"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Tolerance"]' mode="decimal" name="Tolerance{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column month Label' [title]='rowData["ValidFrom"]'>
                                                        <span>{{rowData["ValidFrom"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column month Label' [title]='rowData["ValidTo"]'>
                                                        <span>{{rowData["ValidTo"]}}</span>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal TextBox'>
                                                        <span> {{calculatePrimengTotal('FreightPerTone',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int TextBox'>
                                                        <span> {{calculatePrimengTotal('Capacity',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int TextBox'>
                                                        <span> {{calculatePrimengTotal('MaxCapacity',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Tolerance',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column month Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column month Label'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

