<ion-split-pane when="false">
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar class="new-background-color">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>      
                <ion-menu-toggle auto-hide="false">
                    <ion-item class="profile-item" routerDirection="root">
                        <ion-avatar>
                            <img src="../assets/icon/user.png">
                        </ion-avatar>
                        <div></div>
                        <div class="profile-item">
                         <a [routerLink]="['/profile/tabs/153']" >  <i>Welcome,</i>  {{UserName}} </a>
                        </div>
                    </ion-item>
                    <!--<ion-item>
                       
                    </ion-item>-->
                    <!--<ion-item class="profile-item">-->
                    <!--<ion-item routerLink="/menu/profile" routerDirection="root">
        <ion-icon name="contact"></ion-icon>

        Profile

    </ion-item>-->
    <!---[href]="p.url+'?id='+p.ID"-->
                    <ion-item (click)="open(p.url,p.ID,p.MenuName)" *ngFor="let p of MenuData">
                        <ion-icon [class]="p.Icon_Class"></ion-icon>
                        <ion-label>
                            {{p.MenuName}}
                        </ion-label>
                    </ion-item>

                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>



