.active{
    --ion-text-color:var(--ion-color-primary);
}
.active-parent{
    font-weight:500;
}
.active-item {
    border-left: 8px solid var(--ion-color-primary);
}
.profile-item {
    text-align: center;
}

.profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.profile-picture img {
    width: 40px;
    border-radius: 100%;
}

.profile-name {
    // padding-top: 20px;
    font-size: xx-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
}