
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <ion-button (click)="showfilter=!showfilter"><ion-icon name="funnel" mode="ios"></ion-icon>filter</ion-button>
        </div>
        <mat-card [hidden]="!showfilter" class="filterCard filter">
              <div style="margin-bottom: 30px;margin-top: 10px;">
                  <button (click)="showfilter=!showfilter" style="color:blue;background-color: none;background:none;float:right;margin-bottom: 20px;">HIDE</button>
              </div>
            <mat-card-content>
                <form #f_filter_81="ngForm" (ngSubmit)="onSubmitFilter(f_filter_81.value)">
    <div class="ui-fluid p-formgrid p-grid">

                    <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                        <label for="validMonth">validMonth</label>
                        <p-calendar [(ngModel)]="validMonth" dataType="string" view="month" name="validMonth" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                    </div>
                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="Product">Product</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[1].DropDownValues" ngModel name="Product" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
    </div>
    <div class="p-field p-col-12" style="margin-top: 20px;width:100%;">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_81.form.valid" routerDirection="forward"></button>
    </div>
</form>
            </mat-card-content>
        </mat-card>

    <mat-accordion>

                            <!-- 1Panel -->
                            <mat-card>
                                <mat-card-title>
Past Trends                                </mat-card-title>
                                <mat-card-content>
                                    <div class="container">
                                        <div class="box">
                                                <div *ngIf="Module" class="child1" max-width="100%" appLineChart [appLineChartConfig]="Module[0].moduleList[0]" id="div_linechart_202">Line Chart</div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>

    <mat-expansion-panel #table201 [expanded]="true" table201.expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Customer Movement
            </mat-panel-title>
            <mat-panel-description>

                <div style="text-align: right">
                    <input *ngIf="table201.expanded" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" #f_datatable_201="ngForm" novalidate>
            <mat-card>
                <mat-card-header class="new-background-color">
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
                        <p-table #dt [columns]="selectedColumnsArray[0]" [frozenColumns]="frozenColsArray[0]" [rows]="5"
                                 [value]="primeNgTableArray[0]" [paginator]=true paginatorDropdownAppendTo="body" 
                                 [scrollable]="true" [frozenWidth]="frozenWidthArray[0]" scrollHeight=200px
                                 [rowsPerPageOptions]="[5,10,20,50]" [resizableColumns]="true" [reorderableColumns]="true"
                                 columnResizeMode="expand" (onColResize)="resizeColumn($event,0)">
<ng-template pTemplate="caption">
<div class="CustomizedColumnsDropdown">
    <p-multiSelect [options]="scrollableColsArray[0]" [(ngModel)]="selectedColumnsArray[0]" [ngModelOptions]="{standalone: true}" optionLabel="ColumnName" selectedItemsLabel="{0} columns selected"
     defaultLabel="Choose Columns"></p-multiSelect>
</div>
</ng-template>
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns" style="width:80px">
                                </colgroup>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.ColumnName" pResizableColumn pReorderableColumn>
                                        {{col.ColumnHeader}}
                                        <p-sortIcon [field]="col.ColumnName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>

                                </tr>
                                <tr>
                                    <th *ngFor="let col of columns" style="height: 30px;max-height: 30px;">
                                        <input pInputText type="text" (input)="dt.filter($event.target.value, col.ColumnName, 'contains')" style="max-width:95%;">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [ngClass]="{'rowhighlight': rowData.Type == 'Consensus'}">
                                    <td pEditableColumn class="ui-resizable-column" *ngFor="let col of columns" [title]="rowData[col.ColumnName]"
                                        [ngClass]="{'myclass':col.DataType=='Text','highlight':col.Highlight == 'true','align-right':col.DataType=='int' || col.DataType=='decimal'}">
                                        <div *ngIf="col.InputControls != 'TextBox' && col.InputControls != 'HiddenField'">
                                            {{rowData[col.ColumnName]}}
                                        </div>
                                        <div *ngIf="col.InputControls == 'TextBox'  && col.InputControls != 'HiddenField'" class="inputbox">
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input type="text" name="rowData[col.ColumnName]" [(ngModel)]="rowData[col.ColumnName]" 
                                                           (change)="col.ShowInSum==true?calculateRowWiseTotalPrimeNG(rowData,0):''">
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{rowData[col.ColumnName]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" let-columns>
                                <tr *ngIf="Module">
                                    <td *ngFor="let col of columns" [ngClass]="{'myclass':col.DataType=='Text','highlight':  col.Highlight == 'true','align-right':col.DataType=='int' || col.DataType=='decimal'}">
                                        <span *ngIf="col.FrozenCols==false">{{calculatePrimengTotal(col.ColumnName,dt)| number :'1.0-2'}}</span>
</td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="summary">
                                <div style="text-align: right;">
                                    <ion-button size="small" type="submit" class="submit-btn" (click)="SubmitPrimeNgTable(201,f_filter_81.value,dt,0)">Save Table</ion-button>
                                </div>
                            </ng-template>
                        </p-table>


                    </div>
                   
                </mat-card-content>
            </mat-card>
        </form>
    </mat-expansion-panel>

                    </mat-accordion>


</ion-content>

