
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div *ngIf="showfilter" style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <button pButton class="ui-button-primary ui-button-raised" iconPos="left" label="Filter" icon="pi pi-filter" (click)="showfilter=!showfilter"></button>
        </div>
        <div [hidden]="showfilter" class="filter">
            <form class="ui-fluid p-formgrid p-grid" #f_filter_67="ngForm" (ngSubmit)="onSubmitFilter(f_filter_67.value)">
                <div *ngIf="PageMenuDetails && showInFilter('validMonth')" class="p-field p-col-12 p-md-2">

                    <p-calendar [(ngModel)]="validMonth" view="month" name="validMonth" dataType="string" placeholder="validMonth" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_67.form.valid" routerDirection="forward"></button>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button style="max-width: 75px;" pButton label="Reset" (click)="f_filter_67.reset()"></button>
        <i style="float:right;margin-top:6px;margin-left:5px" (click)="showfilter=!showfilter" class="pi pi-times"></i>
    </div>
</form>
        </div>

                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table160 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Baseline Data
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table160.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('160')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_160)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(160,f_filter_67?f_filter_67.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_160 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_160="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="Plant" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="Plant" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Product'
                                    pSortableColumn="Product" pResizableColumn pReorderableColumn>
Product                                            <p-sortIcon field="Product" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='City'
                                    pSortableColumn="City" pResizableColumn pReorderableColumn>
City                                            <p-sortIcon field="City" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='sold To'
                                    pSortableColumn="soldTo" pResizableColumn pReorderableColumn>
sold To                                            <p-sortIcon field="soldTo" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='sold To Party Name'
                                    pSortableColumn="soldToPartyName" pResizableColumn pReorderableColumn>
sold To Party Name                                            <p-sortIcon field="soldToPartyName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='ship To'
                                    pSortableColumn="shipTo" pResizableColumn pReorderableColumn>
ship To                                            <p-sortIcon field="shipTo" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='ship To Party Name'
                                    pSortableColumn="shipToPartyName" pResizableColumn pReorderableColumn>
ship To Party Name                                            <p-sortIcon field="shipToPartyName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Freight'
                                    pSortableColumn="Freight" pResizableColumn pReorderableColumn>
Freight                                            <p-sortIcon field="Freight" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Demand'
                                    pSortableColumn="Demand" pResizableColumn pReorderableColumn>
Demand                                            <p-sortIcon field="Demand" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Freight Total'
                                    pSortableColumn="FreightTotal" pResizableColumn pReorderableColumn>
Freight Total                                            <p-sortIcon field="FreightTotal" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Cost Revenue'
                                    pSortableColumn="CostRevenue" pResizableColumn pReorderableColumn>
Cost Revenue                                            <p-sortIcon field="CostRevenue" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Mode'
                                    pSortableColumn="Mode" pResizableColumn pReorderableColumn>
Mode                                            <p-sortIcon field="Mode" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Valid Month'
                                    pSortableColumn="ValidMonth" pResizableColumn pReorderableColumn>
Valid Month                                            <p-sortIcon field="ValidMonth" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Plant', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Product', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'City', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'soldTo', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'soldToPartyName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'shipTo', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'shipToPartyName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Freight', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Demand', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'FreightTotal', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CostRevenue', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Mode', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ValidMonth', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Plant"]'>
                                                        <span>{{rowData["Plant"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Product"]'>
                                                        <span>{{rowData["Product"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["City"]'>
                                                        <span>{{rowData["City"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["soldTo"]'>
                                                        <span>{{rowData["soldTo"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["soldToPartyName"]'>
                                                        <span>{{rowData["soldToPartyName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["shipTo"]'>
                                                        <span>{{rowData["shipTo"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["shipToPartyName"]'>
                                                        <span>{{rowData["shipToPartyName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Freight"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Freight"]' mode="decimal" name="Freight{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Demand"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Demand"]' mode="decimal" name="Demand{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["FreightTotal"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["FreightTotal"]' mode="decimal" name="FreightTotal{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CostRevenue"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CostRevenue"]' mode="decimal" name="CostRevenue{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Mode"]'>
                                                        <span>{{rowData["Mode"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["ValidMonth"]'>
                                                        <span>{{rowData["ValidMonth"]}}</span>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Freight',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Demand',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('FreightTotal',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CostRevenue',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

