
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                    <mat-accordion>
                    <div class="p-grid">
    <p-panel header="Import" [toggleable]="true" *ngIf="!ModuleIDList.includes(16)" #form16>
        <form name="form" (ngSubmit)="f_form_16.form.valid && onSubmit(f_form_16.value,16,0)" #f_form_16="ngForm" novalidate>
               
            <div class="ui-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-2" style="display:none">
    <input type="hidden" id="ID164" name="ID" #ID164="ngModel" value="{{Module && Module[0].moduleList[0].moduleDetails[0].value}}" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[0].value" />
    </div>
        <div class="p-field p-col-12 p-md-2">
            <label>Import File<span class="required-field">*</span></label>
                <input pInputText type="file" id="import165" name="import" required ngModel (change)="handleFileInput($event.target.files)">
    </div>
            </div>
      <div>
              <button type="submit" pButton icon="pi pi-file" iconPos="left" label='save' [disabled]="!f_form_16.form.valid" style="margin-right: 0.5em;max-width: 100px;" class="ui-button-primary"></button>
                </div>
</form>
    </p-panel>

                </div>
                    </mat-accordion>


</ion-content>

