
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div *ngIf="showfilter" style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <button pButton class="ui-button-primary ui-button-raised" iconPos="left" label="Filter" icon="pi pi-filter" (click)="showfilter=!showfilter"></button>
        </div>
        <div [hidden]="showfilter" class="filter">
            <form class="ui-fluid p-formgrid p-grid" #f_filter_48="ngForm" (ngSubmit)="onSubmitFilter(f_filter_48.value)">
                <div *ngIf="PageMenuDetails && showInFilter('validMonth')" class="p-field p-col-12 p-md-2">

                    <p-calendar [(ngModel)]="validMonth" view="month" name="validMonth" dataType="string" placeholder="validMonth" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_48.form.valid" routerDirection="forward"></button>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button style="max-width: 75px;" pButton label="Reset" (click)="f_filter_48.reset()"></button>
        <i style="float:right;margin-top:6px;margin-left:5px" (click)="showfilter=!showfilter" class="pi pi-times"></i>
    </div>
</form>
        </div>

                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table77 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Production Actual
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table77.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('77')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_77)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(77,f_filter_48?f_filter_48.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_77 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_77="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column int int'
                                    title='ID'
                                    pSortableColumn="ID" pResizableColumn pReorderableColumn>
ID                                            <p-sortIcon field="ID" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="Plant" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="Plant" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Lye'
                                    pSortableColumn="Lye" pResizableColumn pReorderableColumn>
Lye                                            <p-sortIcon field="Lye" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Flakes'
                                    pSortableColumn="Flakes" pResizableColumn pReorderableColumn>
Flakes                                            <p-sortIcon field="Flakes" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='HCL'
                                    pSortableColumn="HCL" pResizableColumn pReorderableColumn>
HCL                                            <p-sortIcon field="HCL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='SBP'
                                    pSortableColumn="SBP" pResizableColumn pReorderableColumn>
SBP                                            <p-sortIcon field="SBP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACL'
                                    pSortableColumn="PACL" pResizableColumn pReorderableColumn>
PACL                                            <p-sortIcon field="PACL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACP'
                                    pSortableColumn="PACP" pResizableColumn pReorderableColumn>
PACP                                            <p-sortIcon field="PACP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CPW'
                                    pSortableColumn="CPW" pResizableColumn pReorderableColumn>
CPW                                            <p-sortIcon field="CPW" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PA'
                                    pSortableColumn="PA" pResizableColumn pReorderableColumn>
PA                                            <p-sortIcon field="PA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CaClL'
                                    pSortableColumn="CaClL" pResizableColumn pReorderableColumn>
CaClL                                            <p-sortIcon field="CaClL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CSA'
                                    pSortableColumn="CSA" pResizableColumn pReorderableColumn>
CSA                                            <p-sortIcon field="CSA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='AC'
                                    pSortableColumn="AC" pResizableColumn pReorderableColumn>
AC                                            <p-sortIcon field="AC" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column datetime datetime'
                                    title='Date'
                                    pSortableColumn="Date" pResizableColumn pReorderableColumn>
Date                                            <p-sortIcon field="Date" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int int'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ID', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Plant', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Lye', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Flakes', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'HCL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'SBP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CPW', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CaClL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CSA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'AC', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column datetime datetime'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Date', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column int int' [title]='rowData["ID"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["ID"]' name="ID{{rowIndex+1}}"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Plant"]'>
                                                        <span>{{rowData["Plant"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Lye"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Lye"]' mode="decimal" name="Lye{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Flakes"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Flakes"]' mode="decimal" name="Flakes{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["HCL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["HCL"]' mode="decimal" name="HCL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["SBP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["SBP"]' mode="decimal" name="SBP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACL"]' mode="decimal" name="PACL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACP"]' mode="decimal" name="PACP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CPW"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CPW"]' mode="decimal" name="CPW{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PA"]' mode="decimal" name="PA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CaClL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CaClL"]' mode="decimal" name="CaClL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CSA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CSA"]' mode="decimal" name="CSA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["AC"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["AC"]' mode="decimal" name="AC{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column datetime datetime' [title]='rowData["Date"]'>
                                                    <p-calendar [dateFormat]=DateFormat name="Date{{rowIndex+1}}" [(ngModel)]="rowData['Date']" appendTo="body"
                                                                showTime="true" [hourFormat]=hourFormat></p-calendar>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column int int'>
                                                        <span> {{calculatePrimengTotal('ID',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Lye',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Flakes',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('HCL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('SBP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CPW',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CaClL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CSA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('AC',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column datetime datetime'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[1] && scrollableColsArray[1] && primeNgTableArray[1] && selectedColumnsArray[1]">
    <p-panel [toggleable]="true" #table172 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[1].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Sales Actual
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table172.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('172')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_172)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(172,f_filter_48?f_filter_48.value:null,dt,1)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_172 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_172="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[1]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[1]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[1]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column int int'
                                    title='ID'
                                    pSortableColumn="ID" pResizableColumn pReorderableColumn>
ID                                            <p-sortIcon field="ID" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="Plant" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="Plant" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Lye'
                                    pSortableColumn="Lye" pResizableColumn pReorderableColumn>
Lye                                            <p-sortIcon field="Lye" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Flakes'
                                    pSortableColumn="Flakes" pResizableColumn pReorderableColumn>
Flakes                                            <p-sortIcon field="Flakes" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Cl'
                                    pSortableColumn="Cl" pResizableColumn pReorderableColumn>
Cl                                            <p-sortIcon field="Cl" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='HCL'
                                    pSortableColumn="HCL" pResizableColumn pReorderableColumn>
HCL                                            <p-sortIcon field="HCL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='SBP'
                                    pSortableColumn="SBP" pResizableColumn pReorderableColumn>
SBP                                            <p-sortIcon field="SBP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACL'
                                    pSortableColumn="PACL" pResizableColumn pReorderableColumn>
PACL                                            <p-sortIcon field="PACL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACP'
                                    pSortableColumn="PACP" pResizableColumn pReorderableColumn>
PACP                                            <p-sortIcon field="PACP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CPW'
                                    pSortableColumn="CPW" pResizableColumn pReorderableColumn>
CPW                                            <p-sortIcon field="CPW" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PA'
                                    pSortableColumn="PA" pResizableColumn pReorderableColumn>
PA                                            <p-sortIcon field="PA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CaClL'
                                    pSortableColumn="CaClL" pResizableColumn pReorderableColumn>
CaClL                                            <p-sortIcon field="CaClL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CSA'
                                    pSortableColumn="CSA" pResizableColumn pReorderableColumn>
CSA                                            <p-sortIcon field="CSA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='AC'
                                    pSortableColumn="AC" pResizableColumn pReorderableColumn>
AC                                            <p-sortIcon field="AC" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column datetime datetime'
                                    title='Date'
                                    pSortableColumn="Date" pResizableColumn pReorderableColumn>
Date                                            <p-sortIcon field="Date" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int int'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ID', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Plant', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Lye', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Flakes', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Cl', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'HCL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'SBP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CPW', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CaClL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CSA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'AC', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column datetime datetime'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Date', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column int int' [title]='rowData["ID"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["ID"]' name="ID{{rowIndex+1}}"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Plant"]'>
                                                        <span>{{rowData["Plant"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Lye"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Lye"]' mode="decimal" name="Lye{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Flakes"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Flakes"]' mode="decimal" name="Flakes{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Cl"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Cl"]' mode="decimal" name="Cl{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["HCL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["HCL"]' mode="decimal" name="HCL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["SBP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["SBP"]' mode="decimal" name="SBP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACL"]' mode="decimal" name="PACL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACP"]' mode="decimal" name="PACP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CPW"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CPW"]' mode="decimal" name="CPW{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PA"]' mode="decimal" name="PA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CaClL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CaClL"]' mode="decimal" name="CaClL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CSA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CSA"]' mode="decimal" name="CSA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["AC"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["AC"]' mode="decimal" name="AC{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column datetime datetime' [title]='rowData["Date"]'>
                                                    <p-calendar [dateFormat]=DateFormat name="Date{{rowIndex+1}}" [(ngModel)]="rowData['Date']" appendTo="body"
                                                                showTime="true" [hourFormat]=hourFormat></p-calendar>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column int int'>
                                                        <span> {{calculatePrimengTotal('ID',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Lye',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Flakes',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Cl',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('HCL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('SBP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CPW',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CaClL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CSA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('AC',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column datetime datetime'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[2] && scrollableColsArray[2] && primeNgTableArray[2] && selectedColumnsArray[2]">
    <p-panel [toggleable]="true" #table173 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[2].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Inventory
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table173.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('173')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_173)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(173,f_filter_48?f_filter_48.value:null,dt,2)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_173 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_173="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[2]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[2]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[2]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column int int'
                                    title='ID'
                                    pSortableColumn="ID" pResizableColumn pReorderableColumn>
ID                                            <p-sortIcon field="ID" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="Plant" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="Plant" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Lye'
                                    pSortableColumn="Lye" pResizableColumn pReorderableColumn>
Lye                                            <p-sortIcon field="Lye" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Flakes'
                                    pSortableColumn="Flakes" pResizableColumn pReorderableColumn>
Flakes                                            <p-sortIcon field="Flakes" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Cl'
                                    pSortableColumn="Cl" pResizableColumn pReorderableColumn>
Cl                                            <p-sortIcon field="Cl" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='HCL'
                                    pSortableColumn="HCL" pResizableColumn pReorderableColumn>
HCL                                            <p-sortIcon field="HCL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='SBP'
                                    pSortableColumn="SBP" pResizableColumn pReorderableColumn>
SBP                                            <p-sortIcon field="SBP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACL'
                                    pSortableColumn="PACL" pResizableColumn pReorderableColumn>
PACL                                            <p-sortIcon field="PACL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PACP'
                                    pSortableColumn="PACP" pResizableColumn pReorderableColumn>
PACP                                            <p-sortIcon field="PACP" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CPW'
                                    pSortableColumn="CPW" pResizableColumn pReorderableColumn>
CPW                                            <p-sortIcon field="CPW" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='PA'
                                    pSortableColumn="PA" pResizableColumn pReorderableColumn>
PA                                            <p-sortIcon field="PA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CaClL'
                                    pSortableColumn="CaClL" pResizableColumn pReorderableColumn>
CaClL                                            <p-sortIcon field="CaClL" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='CSA'
                                    pSortableColumn="CSA" pResizableColumn pReorderableColumn>
CSA                                            <p-sortIcon field="CSA" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='AC'
                                    pSortableColumn="AC" pResizableColumn pReorderableColumn>
AC                                            <p-sortIcon field="AC" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column datetime datetime'
                                    title='Date'
                                    pSortableColumn="Date" pResizableColumn pReorderableColumn>
Date                                            <p-sortIcon field="Date" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int int'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ID', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Plant', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Lye', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Flakes', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Cl', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'HCL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'SBP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PACP', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CPW', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CaClL', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'CSA', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'AC', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column datetime datetime'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Date', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column int int' [title]='rowData["ID"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["ID"]' name="ID{{rowIndex+1}}"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Plant"]'>
                                                        <span>{{rowData["Plant"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Lye"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Lye"]' mode="decimal" name="Lye{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Flakes"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Flakes"]' mode="decimal" name="Flakes{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Cl"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Cl"]' mode="decimal" name="Cl{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["HCL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["HCL"]' mode="decimal" name="HCL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["SBP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["SBP"]' mode="decimal" name="SBP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACL"]' mode="decimal" name="PACL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PACP"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PACP"]' mode="decimal" name="PACP{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CPW"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CPW"]' mode="decimal" name="CPW{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["PA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["PA"]' mode="decimal" name="PA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CaClL"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CaClL"]' mode="decimal" name="CaClL{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["CSA"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["CSA"]' mode="decimal" name="CSA{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["AC"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["AC"]' mode="decimal" name="AC{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column datetime datetime' [title]='rowData["Date"]'>
                                                    <p-calendar [dateFormat]=DateFormat name="Date{{rowIndex+1}}" [(ngModel)]="rowData['Date']" appendTo="body"
                                                                showTime="true" [hourFormat]=hourFormat></p-calendar>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column int int'>
                                                        <span> {{calculatePrimengTotal('ID',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Lye',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Flakes',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Cl',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('HCL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('SBP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PACP',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CPW',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('PA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CaClL',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('CSA',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('AC',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column datetime datetime'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

