<ion-grid no-padding no-margin style="max-width: 300px;">
    <ion-row>
        <ion-col size="12">
            <!-- <input type="text" pInputText [ngModel]="formattedTokens" style="width: 100%;" class="form-control-sm form-control text-right" readonly> -->
        </ion-col>
        <ion-col size="12">
            <!-- <input type="text" pInputText [ngModel]="input" style="width: 100%;" class="form-control form-control-lg text-right" readonly> -->
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <button pRipple label="AC" pButton class="p-button-raised p-button-secondary" (click)="reset()"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="(" pButton class="p-button-raised p-button-primary" (click)="execOperator('(')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label=")" pButton class="p-button-raised p-button-primary" (click)="execOperator(')')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="/" pButton class="p-button-raised p-button-primary" (click)="execOperator('/')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="1" pButton class="p-button-raised p-button-secondary" (click)="insertChar('1')"></button>
        </ion-col>

        <ion-col size="3">
            <button pRipple label="2" pButton class="p-button-raised p-button-secondary" (click)="insertChar('2')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="3" pButton class="p-button-raised p-button-secondary" (click)="insertChar('3')"></button>
        </ion-col>


        <ion-col size="3">
            <button pRipple label="x" pButton class="p-button-raised p-button-primary" (click)="execOperator('*')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="4" pButton class="p-button-raised p-button-secondary" (click)="insertChar('4')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="5" pButton class="p-button-raised p-button-secondary" (click)="insertChar('5')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="6" pButton class="p-button-raised p-button-secondary" (click)="insertChar('6')"></button>
        </ion-col>

        <ion-col size="3">
            <button pRipple label="+" pButton class="p-button-raised p-button-primary" (click)="execOperator('+')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="7" pButton class="p-button-raised p-button-secondary" (click)="insertChar('7')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="8" pButton class="p-button-raised p-button-secondary" (click)="insertChar('8')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="9" pButton class="p-button-raised p-button-secondary" (click)="insertChar('9')"></button>
        </ion-col>

        
        <ion-col size="3">
            <button pRipple label="-" pButton class="p-button-raised p-button-primary" (click)="execOperator('-')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="0" pButton class="p-button-raised p-button-secondary" (click)="insertChar('0')"></button>
        </ion-col>
        <ion-col size="3">
            <button pRipple label="," pButton class="p-button-raised p-button-secondary" (click)="insertChar('.')"></button>
        </ion-col>

        <ion-col size="3">
            <button autofocus pRipple label="=" pButton class="p-button-raised p-button-primary" (click)="evaluate()"></button>
        </ion-col>
        
    </ion-row>
</ion-grid>