
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table30 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                BOM Master
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table30.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('30')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_30)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(30,f_filter_10?f_filter_10.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_30 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_30="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Plant'
                                    pSortableColumn="PlantName" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="PlantName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Process'
                                    pSortableColumn="ProcessName" pResizableColumn pReorderableColumn>
Process                                            <p-sortIcon field="ProcessName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Mode'
                                    pSortableColumn="Mode" pResizableColumn pReorderableColumn>
Mode                                            <p-sortIcon field="Mode" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Product'
                                    pSortableColumn="FGSKUName" pResizableColumn pReorderableColumn>
Product                                            <p-sortIcon field="FGSKUName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal TextBox'
                                    title='Quantity'
                                    pSortableColumn="Quantity" pResizableColumn pReorderableColumn>
Quantity                                            <p-sortIcon field="Quantity" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int Checkbox'
                                    title='Lead Product'
                                    pSortableColumn="LeadProduct" pResizableColumn pReorderableColumn>
Lead Product

                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PlantName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ProcessName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Mode', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'FGSKUName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Quantity', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int Checkbox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'LeadProduct', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["PlantName"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[1].DropDownValues"
                                                                name="PlantName{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['PlantName'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['PlantName'],Module[0].moduleList[0].moduleDetails[1].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["ProcessName"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[2].DropDownValues"
                                                                name="ProcessName{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['ProcessName'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['ProcessName'],Module[0].moduleList[0].moduleDetails[2].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["Mode"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[3].DropDownValues"
                                                                name="Mode{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['Mode'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['Mode'],Module[0].moduleList[0].moduleDetails[3].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["FGSKUName"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[4].DropDownValues"
                                                                name="FGSKUName{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['FGSKUName'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['FGSKUName'],Module[0].moduleList[0].moduleDetails[4].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column decimal TextBox' [title]='rowData["Quantity"]'>
                                                <div class="inputbox">
                                                        <p-inputNumber [(ngModel)]='rowData["Quantity"]' mode="decimal" name="Quantity{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int Checkbox' [title]='rowData["LeadProduct"]'>
                                                <p-checkbox [(ngModel)]='rowData["LeadProduct"]' [binary]="true" name="LeadProduct{{rowIndex+1}}"></p-checkbox>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal TextBox'>
                                                        <span> {{calculatePrimengTotal('Quantity',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int Checkbox'>
                                                        <span> {{calculatePrimengTotal('LeadProduct',dt)| number :'1.0-2'}}</span>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[1] && scrollableColsArray[1] && primeNgTableArray[1] && selectedColumnsArray[1]">
    <p-panel [toggleable]="true" #table31 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[1].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                BOM Screen
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table31.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('31')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_31)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(31,f_filter_10?f_filter_10.value:null,dt,1)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_31 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_31="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[1]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[1]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[1]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column string Label'
                                    title='Plant'
                                    pSortableColumn="PlantName" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="PlantName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Process'
                                    pSortableColumn="ProcessName" pResizableColumn pReorderableColumn>
Process                                            <p-sortIcon field="ProcessName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int int'
                                    title='Mode'
                                    pSortableColumn="Mode" pResizableColumn pReorderableColumn>
Mode                                            <p-sortIcon field="Mode" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Product'
                                    pSortableColumn="FGSKUName" pResizableColumn pReorderableColumn>
Product                                            <p-sortIcon field="FGSKUName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal decimal'
                                    title='Quantity'
                                    pSortableColumn="Quantity" pResizableColumn pReorderableColumn>
Quantity                                            <p-sortIcon field="Quantity" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Lead Product'
                                    pSortableColumn="LeadProduct" pResizableColumn pReorderableColumn>
Lead Product                                            <p-sortIcon field="LeadProduct" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Checkbox'
                                    title='Delete'
                                    pSortableColumn="Active" pResizableColumn pReorderableColumn>
Delete

                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PlantName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ProcessName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int int'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Mode', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'FGSKUName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal decimal'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Quantity', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'LeadProduct', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Checkbox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Active', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["PlantName"]'>
                                                        <span>{{rowData["PlantName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["ProcessName"]'>
                                                        <span>{{rowData["ProcessName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column int int' [title]='rowData["Mode"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Mode"]' name="Mode{{rowIndex+1}}"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["FGSKUName"]'>
                                                        <span>{{rowData["FGSKUName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column decimal decimal' [title]='rowData["Quantity"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Quantity"]' mode="decimal" name="Quantity{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["LeadProduct"]'>
                                                        <span>{{rowData["LeadProduct"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Checkbox' [title]='rowData["Active"]'>
                                                <p-checkbox [(ngModel)]='rowData["Active"]' [binary]="true" name="Active{{rowIndex+1}}"></p-checkbox>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int int'>
                                                        <span> {{calculatePrimengTotal('Mode',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal decimal'>
                                                        <span> {{calculatePrimengTotal('Quantity',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Checkbox'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

