<!-- <ion-list>
  <ion-item (click)="doc()">
    <ion-label>
      Documentation
    </ion-label>
  </ion-item>
  <ion-item (click)="close()">
    <ion-label>
      Close
    </ion-label>
  </ion-item>
</ion-list> -->
<ion-content >
    <div>
<mat-table #Table [dataSource]="MyDataSourceArray" [class.isMobile]="isMobile">  
       <ng-container matColumnDef="Notifications">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Notifications </mat-header-cell>
        <mat-cell *matCellDef="let data;let idx = index" (click)="navigate(data.MenuParam,data.MenuID,data.Notifications,data.ID)">              
                <a> {{data.Notifications}} </a>
            
        </mat-cell>
    </ng-container> 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  
</mat-table>
<!--<ion-button   (click)="navigate('',4,'')"> See All</ion-button>-->
</div>
</ion-content> 