
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <ion-button (click)="showfilter=!showfilter"><ion-icon name="funnel" mode="ios"></ion-icon>filter</ion-button>
        </div>
        <mat-card [hidden]="!showfilter" class="filterCard filter">
            <div style="margin-bottom: 30px;margin-top: 10px;">
                <button (click)="showfilter=!showfilter" style="color:blue;background-color: none;background:none;float:right;margin-bottom: 20px;">HIDE</button>
            </div>
            <mat-card-content>
                <form #f_filter_5="ngForm" (ngSubmit)="onSubmitFilter(f_filter_5.value)">
                    <div class="ui-fluid p-formgrid p-grid">

                                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                                    <label for="Drop down list">Drop down list</label>
                                    <p-dropdown [filter]="true" [options]="PageMenuDetails[0].DropDownValues" ngModel name="Plant" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                                </div>
                                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                                    <label for="Drop down list">Drop down list</label>
                                    <p-dropdown [filter]="true" [options]="PageMenuDetails[1].DropDownValues" ngModel name="Product" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                                </div>
                                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                                    <label for="Drop down list">Drop down list</label>
                                    <p-dropdown [filter]="true" [options]="PageMenuDetails[2].DropDownValues" ngModel name="city" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                                </div>
                                    <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                                        <label for="validMonth">validMonth</label>
                                        <p-calendar [(ngModel)]="validMonth" view="month" name="validMonth" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                                    </div>
                                    <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                                        <label for="ValidTo">ValidTo</label>
                                        <p-calendar [(ngModel)]="ValidTo" view="month" name="ValidTo" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                                    </div>
                    </div>
                    <div class="p-field p-col-12" style="margin-top: 20px;width:100%;">
                        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_5.form.valid" routerDirection="forward"></button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table7 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Road Master
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table7.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('7')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_7)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(7,f_filter_5?f_filter_5.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_7 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_7="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column nvarchar Label'
                                    title='Plant'
                                    pSortableColumn="PlantName" pResizableColumn pReorderableColumn>
Plant                                            <p-sortIcon field="PlantName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column nvarchar Label'
                                    title='Product'
                                    pSortableColumn="Product" pResizableColumn pReorderableColumn>
Product                                            <p-sortIcon field="Product" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column nvarchar Label'
                                    title='City'
                                    pSortableColumn="location" pResizableColumn pReorderableColumn>
City                                            <p-sortIcon field="location" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column nvarchar Label'
                                    title='State'
                                    pSortableColumn="State" pResizableColumn pReorderableColumn>
State                                            <p-sortIcon field="State" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int int'
                                    title='Distance'
                                    pSortableColumn="Distance" pResizableColumn pReorderableColumn>
Distance                                            <p-sortIcon field="Distance" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column decimal TextBox'
                                    title='Freight Per Ton'
                                    pSortableColumn="FreightPerTone" pResizableColumn pReorderableColumn>
Freight Per Ton                                            <p-sortIcon field="FreightPerTone" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Rate Card Type'
                                    pSortableColumn="RateCardType" pResizableColumn pReorderableColumn>
Rate Card Type                                            <p-sortIcon field="RateCardType" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column datetime TextBox'
                                    title='Valid From'
                                    pSortableColumn="ValidFrom" pResizableColumn pReorderableColumn>
Valid From                                            <p-sortIcon field="ValidFrom" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column datetime TextBox'
                                    title='Valid To'
                                    pSortableColumn="ValidTo" pResizableColumn pReorderableColumn>
Valid To                                            <p-sortIcon field="ValidTo" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column boolean Checkbox'
                                    title='Delete'
                                    pSortableColumn="Active" pResizableColumn pReorderableColumn>
Delete

                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column nvarchar Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'PlantName', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column nvarchar Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Product', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column nvarchar Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'location', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column nvarchar Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'State', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int int'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Distance', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column decimal TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'FreightPerTone', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'RateCardType', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column datetime TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ValidFrom', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column datetime TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ValidTo', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column boolean Checkbox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Active', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column nvarchar Label' [title]='rowData["PlantName"]'>
                                                        <span>{{rowData["PlantName"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column nvarchar Label' [title]='rowData["Product"]'>
                                                        <span>{{rowData["Product"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column nvarchar Label' [title]='rowData["location"]'>
                                                        <span>{{rowData["location"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column nvarchar Label' [title]='rowData["State"]'>
                                                        <span>{{rowData["State"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column int int' [title]='rowData["Distance"]'>
                                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["Distance"]' name="Distance{{rowIndex+1}}"></p-inputNumber>

                                    </td>
                                    <td class='ui-resizable-column decimal TextBox' [title]='rowData["FreightPerTone"]'>
                                                <div class="inputbox">
                                                        <p-inputNumber [(ngModel)]='rowData["FreightPerTone"]' mode="decimal" name="FreightPerTone{{rowIndex+1}}" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["RateCardType"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[7].DropDownValues"
                                                                name="RateCardType{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['RateCardType'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['RateCardType'],Module[0].moduleList[0].moduleDetails[7].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column datetime TextBox' [title]='rowData["ValidFrom"]'>
                                                <div class="inputbox">
                                                        <p-calendar dateFormat="dd-mm-yy h:mm" [(ngModel)]="rowData['ValidFrom']" appendTo="body" name="DateTimePicker{{rowIndex+1}}"></p-calendar>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column datetime TextBox' [title]='rowData["ValidTo"]'>
                                                <div class="inputbox">
                                                        <p-calendar dateFormat="dd-mm-yy h:mm" [(ngModel)]="rowData['ValidTo']" appendTo="body" name="DateTimePicker{{rowIndex+1}}"></p-calendar>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column boolean Checkbox' [title]='rowData["Active"]'>
                                                <p-checkbox [(ngModel)]='rowData["Active"]' [binary]="true" name="Active{{rowIndex+1}}"></p-checkbox>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column nvarchar Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column nvarchar Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column nvarchar Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column nvarchar Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int int'>
                                                        <span> {{calculatePrimengTotal('Distance',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column decimal TextBox'>
                                                        <span> {{calculatePrimengTotal('FreightPerTone',dt)| number :'1.0-2'}}</span>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column datetime TextBox'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column datetime TextBox'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column boolean Checkbox'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

