
<ion-content>
        <ion-card  color="#d7eceb" class="message">
            <img style="width: 50%; margin-left: 25%; margin-top:2%" src="assets\icons\inquizity.png"/>
            <ion-card-header *ngIf="!showLogin">
                <ion-card-title text-center>Password Reset Page</ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="!showLogin">
                  <form  #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.form.valid && resetPassword(resetPasswordForm.value)" autocomplete="off" novalidate>  
                      <ion-item>
                          <ion-label>  <ion-icon name="calculator"></ion-icon></ion-label>
                                     <ion-input placeholder="otpcode" name="code" type="number" required ngModel ></ion-input>
                      </ion-item>      
                    <ion-item class="i2"no-lines>
                            <ion-label >  <ion-icon name="unlock"></ion-icon> </ion-label>
                        <ion-input type="{{type}}" name="password"  placeholder="New Password.." required ngModel style="width: 40px;" no-lines>
                      </ion-input>
                        <ion-icon *ngIf="!showPass" item-right (click)="showPassword()" name="eye" style="font-size:25px;    background: transparent;"></ion-icon>
                        <ion-icon *ngIf="showPass" item-right (click)="showPassword()" name="eye-off" style="font-size:25px;    background: transparent;"></ion-icon>
                    </ion-item>
                    <ion-item class="i2"no-lines>
                        <ion-label >  <ion-icon name="unlock"></ion-icon> </ion-label>
                    <ion-input type="{{type}}" name="confirmpassword" placeholder="Confirm Password.." required ngModel style="width: 40px;" no-lines>
                  </ion-input>
                  <ion-icon *ngIf="!showPass" item-right (click)="showPassword()" name="eye" style="font-size:25px;    background: transparent;"></ion-icon>
                  <ion-icon *ngIf="showPass" item-right (click)="showPassword()" name="eye-off" style="font-size:25px;    background: transparent;"></ion-icon>
                </ion-item>
                  <div *ngIf="error" class="alert alert-danger" style="color: green;">{{error}}</div>
                  <br>
                  <div *ngIf="showLogin"> Your password is updated</div>
                  <ion-button expand="block" position="center" class="submit-btn" [disabled]="!resetPasswordForm.form.valid" full type="submit">
                      Submit
                  </ion-button>
                  <div *ngIf="show" id="cover" >
                      <div ng-show="showLoader" class="center">
                      <svg width="55px"  height="115px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
                  
                            </div>
                      </div>  
                  
              </form>
            </ion-card-content>
            <a href="#" *ngIf="showLogin"><ion-button>Go to Login</ion-button></a>
          </ion-card>
          
</ion-content>
