
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div *ngIf="showfilter" style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <button pButton class="ui-button-primary ui-button-raised" iconPos="left" label="Filter" icon="pi pi-filter" (click)="showfilter=!showfilter"></button>
        </div>
        <div [hidden]="showfilter" class="filter">
            <form class="ui-fluid p-formgrid p-grid" #f_filter_47="ngForm" (ngSubmit)="onSubmitFilter(f_filter_47.value)">
                <div *ngIf="PageMenuDetails && showInFilter('validMonth')" class="p-field p-col-12 p-md-2">

                    <p-calendar [(ngModel)]="validMonth" view="month" name="validMonth" dataType="string" placeholder="validMonth" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                </div>
            <div *ngIf="PageMenuDetails && showInFilter('type')" class="p-field p-col-12 p-md-2">

                <p-dropdown [filter]="true" [options]="PageMenuDetails[1].DropDownValues" ngModel name="type" placeholder="DemandType" optionLabel="Text" [appendTo]="local" [showClear]="true"></p-dropdown>
            </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_47.form.valid" routerDirection="forward"></button>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button style="max-width: 75px;" pButton label="Reset" (click)="f_filter_47.reset()"></button>
        <i style="float:right;margin-top:6px;margin-left:5px" (click)="showfilter=!showfilter" class="pi pi-times"></i>
    </div>
</form>
        </div>

                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-6">
<p-panel [toggleable]="true" #table101 class="editable-unfrozen-table">
    <p-header>
        <div class="ui-panel-title">
            PLAN VS ACTUAL
            <div class="ui-panel-title-buttons">
                <input *ngIf="!table101.collapsed" (click)="$event.stopPropagation()" class="search-box" style="margin-top:10px;" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </div>
    </p-header>
    <form name="form" #f_datatable_101="ngForm" novalidate>
        <div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="5"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="true"
                     [scrollable]="true"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     [reorderableColumns]="true"
                     [(selection)]="selectedRows"
                     scrollHeight="180px"
                     [rowHover]="true">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:150px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr *ngIf="headerLevelOneArray" style="text-align:center;">
                        <th style="text-align:center;" *ngFor="let col of headerLevelOneArray[0]" [attr.colspan]="col.ColSpan">{{col.ColumnHeader}}</th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.ColumnName" [title]="col.ColumnName" pResizableColumn pReorderableColumn
                            [ngClass]="{'Text':col.DataType=='Text','int':col.DataType=='int','decimal':col.DataType=='decimal','real':col.DataType=='real',
                            'date':col.DataType=='date','datetime':col.DataType=='datetime','string':col.DataType=='string',
                            'Checkbox':col.InputControls== 'Checkbox','Link':col.InputControls == 'Link','DropDownList':col.InputControls == 'DropDownList',
                            'Label':col.InputControls == 'Label','align-left':(col.InputControls == 'TextBox' && col.DataType == 'string'),
                            'EmailButton':col.InputControls == 'EmailButton','ReportButton':col.InputControls == 'ReportButton',
                            'id':col.InputControls == 'id','highlight':col.Highlight=='true'}">
                            <p-tableHeaderCheckbox *ngIf="col.InputControls == 'rowCheckbox'"></p-tableHeaderCheckbox>
                            <div *ngIf="col.InputControls != 'rowCheckbox' && col.InputControls != 'Checkbox' && col.InputControls != 'ReportButton' && col.InputControls != 'Link' && col.InputControls != 'EmailButton'">
                                {{col.ColumnHeader}}
                                <p-sortIcon [field]="col.ColumnName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>
                            </div>
                            <div *ngIf="col.InputControls == 'EmailButton'">
                                {{col.ColumnHeader}}
                            </div>
                            <div *ngIf="col.InputControls == 'Checkbox'">
                                {{col.ColumnHeader}}
                            </div>
                            <div *ngIf="col.InputControls == 'ReportButton'">
                                {{col.ColumnHeader}}
                            </div>
                            <div *ngIf="col.InputControls == 'Link'">
                                {{col.ColumnHeader}}
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" style="padding:1px;">
                            <input [hidden]="col.ColumnSearchEnable==false" pInputText type="text" (input)="dt.filter($event.target.value, col.ColumnName, 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid #c8c8c8a8;background-color: #ffffff;">
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [ngClass]="{'rowhighlight': rowData.Type == 'Consensus'}">
                        <td *ngFor="let col of columns;let i= index" pEditableColumn class="ui-resizable-column" [title]='rowData[col.ColumnName]'
                            [ngClass]="{'Text':col.DataType=='Text','int':col.DataType=='int','decimal':col.DataType=='decimal','real':col.DataType=='real',
                                'date':col.DataType=='date','datetime':col.DataType=='datetime','string':col.DataType=='string',
                                'Checkbox':col.InputControls== 'Checkbox','Link':col.InputControls == 'Link','DropDownList':col.InputControls == 'DropDownList',
                                'Label':col.InputControls == 'Label','align-left':(col.InputControls == 'TextBox' && col.DataType == 'string'),
                                'EmailButton':col.InputControls == 'EmailButton','ReportButton':col.InputControls == 'ReportButton',
                                'id':col.InputControls == 'id','highlight':col.Highlight=='true'}">
                            <div *ngIf="col.InputControls == 'rowCheckbox'">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </div>
                            <div *ngIf="col.InputControls == 'Checkbox'">
                                <p-checkbox [(ngModel)]='rowData[col.ColumnName]' [binary]="true" name="col.ColumnName{{rowIndex+1}}"></p-checkbox>
                            </div>
                            <div *ngIf="col.InputControls == 'HiddenField'">
                                <input type="hidden" name="col.ColumnName{{rowIndex+1}}" id="col.ColumnName{{rowIndex+1}}" [value]='rowData[col.ColumnName]' [(ngModel)]='rowData[col.ColumnName]' />
                            </div>

                            <div *ngIf="col.InputControls == 'Label'">
                                <div *ngIf="col.DataType == 'int'">
                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData[col.ColumnName]' name="Label_zline{{rowIndex+1}}_"></p-inputNumber>
                                </div>
                                <div *ngIf="col.DataType == 'decimal' || col.DataType == 'real'">
                                    <p-inputNumber [disabled]="true" [(ngModel)]='rowData["col.ColumnName"]' mode="decimal" name="Label_zline{{rowIndex+1}}_" [minFractionDigits]="2" [locale]="Locale"></p-inputNumber>
                                </div>
                                <div *ngIf="col.DataType == 'date'">
                                    <p-calendar [dateFormat]=DateFormat [disabled]="true" [(ngModel)]="rowData['col.ColumnName']" appendTo="body" name="Label_zline{{rowIndex+1}}_"></p-calendar>
                                </div>
                                <div *ngIf="col.DataType == 'datetime'">
                                    <p-calendar dateFormat="dd-mm-yy h:mm" [disabled]="true" [(ngModel)]="rowData['col.ColumnName']" appendTo="body" name="Label_zline{{rowIndex+1}}_"></p-calendar>
                                </div>
                                <div *ngIf="col.DataType != 'datetime' && col.DataType != 'date' && col.DataType != 'int' && col.DataType != 'decimal' && col.DataType != 'real'">
                                    <span>{{rowData[col.ColumnName]}}</span>
                                </div>
                            </div>
                            <div *ngIf="col.InputControls == 'TextBox'" class="inputbox">
                                <div *ngIf="col.DataType == 'int'">
                                    <p-inputNumber [ngModel]='rowData[col.ColumnName]' name="col.ColumnName{{rowIndex+1}}" (ngModelChange)="col.ShowInSum==true?calculateRowWiseTotalPrimeNG(rowData,0):rowData[col.ColumnName]"></p-inputNumber>
                                </div>
                                <div *ngIf="col.DataType == 'decimal'">
                                    <p-inputNumber [ngModel]='rowData[col.ColumnName]' mode="decimal" name="col.ColumnName{{rowIndex+1}}" (ngModelChange)="col.ShowInSum==true?calculateRowWiseTotalPrimeNG(rowData,0):rowData[col.ColumnName]"></p-inputNumber>
                                </div>
                                <div *ngIf="col.DataType == 'string'">
                                    <input type="text" name="col.ColumnName{{rowIndex+1}}" [(ngModel)]='rowData[col.ColumnName]' pInputText>
                                </div>
                                <div *ngIf="col.DataType == 'text'">
                                    <input type="text" name="col.ColumnName{{rowIndex+1}}" [(ngModel)]='rowData[col.ColumnName]' pInputText>
                                </div>
                                <div *ngIf="col.DataType == 'date'">
                                    <p-calendar [dateFormat]=DateFormat [(ngModel)]='rowData[col.ColumnName]' appendTo="body" name="col.ColumnName{{rowIndex+1}}"></p-calendar>
                                </div>
                                <div *ngIf="col.DataType == 'datetime'">
                                    <p-calendar dateFormat="dd-mm-yy h:mm" [(ngModel)]='rowData[col.ColumnName]' appendTo="body" name="col.ColumnName{{rowIndex+1}}"></p-calendar>
                                </div>
                            </div>
                            <div *ngIf="col.InputControls == 'DropDownList'">
                                var dropDownIndex = m1.moduleDetails.IndexOf(col);
                                <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[i].DropDownValues"
                                            name="col.ColumnName{{rowIndex+1}}"
                                            placeholder="Please Select" optionLabel="Text" appendTo="body" [showClear]="true"
                                            (onChange)="rowData[col.ColumnName] = $event.value.Value"
                                            [ngModel]="getDefaultValue(rowData[col.ColumnName],Module[0].moduleList[0].moduleDetails[i].DropDownValues)">
                                </p-dropdown>
                            </div>
                            <div *ngIf="col.InputControls == 'Link'">
                                <a *ngIf='rowData[col.ColumnName]' color="warning" class="submit-btn"
                                   (click)="navigate(rowData[col.ColumnName],col.LinkedMenu)">
                                    <mat-icon class="icon-display" style="font-size: 8px;font-weight: bold;">launch</mat-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-columns>
                    <tr *ngIf="Module">
                        <td *ngFor="let col of columns"
                            [ngClass]="{'Text':col.DataType=='Text','int':col.DataType=='int','decimal':col.DataType=='decimal','real':col.DataType=='real',
                            'date':col.DataType=='date','datetime':col.DataType=='datetime','string':col.DataType=='string',
                            'Checkbox':col.InputControls== 'Checkbox','Link':col.InputControls == 'Link','DropDownList':col.InputControls == 'DropDownList',
                            'Label':col.InputControls == 'Label','align-left':(col.InputControls == 'TextBox' && col.DataType == 'string'),
                            'EmailButton':col.InputControls == 'EmailButton','ReportButton':col.InputControls == 'ReportButton',
                            'id':col.InputControls == 'id','highlight':col.Highlight=='true'}" style="text-align:right;">
                            <span *ngIf="col.FrozenCols==false && col.ShowInSum">{{calculatePrimengTotal(col.ColumnName,dt)| number :'1.0-2'}}</span>
                        </td>
                    </tr>
                </ng-template>

                
            </p-table>

        </div>
        
    </form>
</p-panel>
</div>



                </div>
                    </mat-accordion>


</ion-content>

