
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>MainPage</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content padding>
<p>
    profile works
</p>
</ion-content>
