
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                    <mat-accordion>
                    <div class="p-grid">
        <div class="p-col-12 p-md-12">
<div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0] && selectedColumnsArray[0]">
    <p-panel [toggleable]="true" #table76 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[0].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Scenario Master
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table76.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('76')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_76)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(76,f_filter_46?f_filter_46.value:null,dt,0)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_76 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_76="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[0]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[0]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[0]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Demand Type'
                                    pSortableColumn="DemandType" pResizableColumn pReorderableColumn>
Demand Type                                            <p-sortIcon field="DemandType" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column month TextBox'
                                    title='For Month'
                                    pSortableColumn="ForMonth" pResizableColumn pReorderableColumn>
For Month                                            <p-sortIcon field="ForMonth" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='Time'
                                    pSortableColumn="Time" pResizableColumn pReorderableColumn>
Time                                            <p-sortIcon field="Time" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string TextBox'
                                    title='Versions'
                                    pSortableColumn="Versions" pResizableColumn pReorderableColumn>
Versions                                            <p-sortIcon field="Versions" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Max Inventory'
                                    pSortableColumn="MaxInventory" pResizableColumn pReorderableColumn>
Max Inventory                                            <p-sortIcon field="MaxInventory" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column int DropDownList'
                                    title='Max Freight Cost'
                                    pSortableColumn="MaxFreightCost" pResizableColumn pReorderableColumn>
Max Freight Cost                                            <p-sortIcon field="MaxFreightCost" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string TextBox'
                                    title='Max Freight Cost'
                                    pSortableColumn="MaxFreightCostedit" pResizableColumn pReorderableColumn>
Max Freight Cost                                            <p-sortIcon field="MaxFreightCostedit" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'DemandType', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column month TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ForMonth', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Time', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'Versions', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'MaxInventory', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column int DropDownList'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'MaxFreightCost', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string TextBox'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'MaxFreightCostedit', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["DemandType"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[1].DropDownValues"
                                                                name="DemandType{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['DemandType'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['DemandType'],Module[0].moduleList[0].moduleDetails[1].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column month TextBox' [title]='rowData["ForMonth"]'>
                                                <div class="inputbox">
                                                        <p-calendar view="month" [(ngModel)]="rowData['ForMonth']" dataType="string" appendTo="body" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" name="DateTimePicker{{rowIndex+1}}"></p-calendar>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["Time"]'>
                                                        <span>{{rowData["Time"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string TextBox' [title]='rowData["Versions"]'>
                                                <div class="inputbox">
                                                        <input type="text" name="Versions{{rowIndex+1}}" [(ngModel)]='rowData["Versions"]' pInputText>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["MaxInventory"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[5].DropDownValues"
                                                                name="MaxInventory{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['MaxInventory'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['MaxInventory'],Module[0].moduleList[0].moduleDetails[5].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column int DropDownList' [title]='rowData["MaxFreightCost"]'>
                                                <div class="inputbox">
                                                    <p-dropdown [filter]="true" [options]="Module[0].moduleList[0].moduleDetails[6].DropDownValues"
                                                                name="MaxFreightCost{{rowIndex+1}}"
                                                                [autoDisplayFirst]="false" optionLabel="Text" appendTo="body" [showClear]="true"
                                                                (onChange)="rowData['MaxFreightCost'] = $event.value.Value"
                                                                [ngModel]="getDefaultValue(rowData['MaxFreightCost'],Module[0].moduleList[0].moduleDetails[6].DropDownValues)">
                                                    </p-dropdown>
                                                </div>

                                    </td>
                                    <td class='ui-resizable-column string TextBox' [title]='rowData["MaxFreightCostedit"]'>
                                                <div class="inputbox">
                                                        <input type="text" name="MaxFreightCostedit{{rowIndex+1}}" [(ngModel)]='rowData["MaxFreightCostedit"]' pInputText>
                                                </div>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column month TextBox'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string TextBox'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column int DropDownList'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string TextBox'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

        <div class="p-col-12 p-md-6">
<div *ngIf="frozenColsArray[1] && scrollableColsArray[1] && primeNgTableArray[1] && selectedColumnsArray[1]">
    <p-panel [toggleable]="true" #table91 [ngClass]="{'editable-unfrozen-table':scrollableColsArray[1].length <= 4 }">
        <p-header>
            <div class="ui-panel-title">
                Scenarios
                <div class="ui-panel-title-buttons">
                    <input [hidden]="!hideColumnFilters" *ngIf="!table91.collapsed" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <i style="margin: 10px;" (click)="hideColumnFilters = !hideColumnFilters" title="Column and Table filters" class="pi pi-search"></i>
                    <i style="margin: 10px;" (click)="downloadModuleReport('91')" title="Download Module as Excel" class="pi pi-download"></i>
                    <i style="margin: 10px;cursor: pointer;" (click)="setImportPanel(importPanel_91)" title="Import through Excel" class="pi pi-upload"></i>
                    <i style="margin: 10px;" (click)="SubmitPrimeNgTable(91,f_filter_46?f_filter_46.value:null,dt,1)" title="Save and Upload" class="pi pi-save"></i>
                    <i style="margin: 10px;" (click)="Paginators = !Paginators" title="Show/Hide Paginators" class="pi pi-align-justify"></i>
                </div>
            </div>
        </p-header>
        <div class="panel-import" #importPanel_91 hidden=true>
            <p-fileUpload customUpload="true"  (uploadHandler)="handleFileInput($event.files);FileUpload=$event.files"
                          accept=".xls,.xlsx,.csv"></p-fileUpload>
        </div>
        <form name="form" #f_datatable_91="ngForm" novalidate>
            <p-table #dt
                     [columns]="scrollableColsArray[1]"
                     [rows]="10"
                     [globalFilterFields]="filterColsArray[1]"
                     [showCurrentPageReport]="true"
                     paginatorDropdownAppendTo="body"
                     [value]="primeNgTableArray[1]"
                     [paginator]="Paginators"
                     [scrollable]="true" scrollHeight="280px"
                     [rowsPerPageOptions]="[5,10,20,50]"
                     [resizableColumns]="true"
                     columnResizeMode="expand"
                     [reorderableColumns]="true"
                     [rowHover]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedRows">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 25px;">
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="background-color:c8c8c8c8;">Sr. no.</th>
                                <th class='ui-resizable-column string Label'
                                    title='DemandType'
                                    pSortableColumn="DemandType" pResizableColumn pReorderableColumn>
DemandType                                            <p-sortIcon field="DemandType" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                                <th class='ui-resizable-column string Label'
                                    title='ForMonth'
                                    pSortableColumn="ForMonth" pResizableColumn pReorderableColumn>
ForMonth                                            <p-sortIcon field="ForMonth" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descendent order" ariaLabelAsc="Activate to sort in ascendent order"></p-sortIcon>


                                </th>
                    </tr>
                    <tr *ngIf="hideColumnFilters">
                        <th style="padding:0px;border-bottom: 0;background-color:c8c8c838;"></th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'DemandType', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                                <th style="padding:0px;border-bottom: 0;" class='ui-resizable-column string Label'>
                                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ForMonth', 'contains')" style="width:100%;min-width:100%;max-width:100%;border: 1px solid#c8c8c838;background-color: #ffffff;" />


                                </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                            <td style="background-color:c8c8c838;text-align:center;">{{rowIndex + 1}}</td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["DemandType"]'>
                                                        <span>{{rowData["DemandType"]}}</span>

                                    </td>
                                    <td class='ui-resizable-column string Label' [title]='rowData["ForMonth"]'>
                                                        <span>{{rowData["ForMonth"]}}</span>

                                    </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr *ngIf="Module">
                                <td></td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                                        <td pEditableColumn class='ui-resizable-column string Label'>

                                        </td>
                            </tr>
                        </ng-template>

                        
                    </p-table>
                </form>
</p-panel>
</div>
</div>

                </div>
                    </mat-accordion>


</ion-content>

