// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

ion-router-outlet#content.hydrated.menu-content.menu-content-overlay{
  margin-top:95px !important;
}
body .ui-menubar {
  height: 45px !important;
}
body .ui-menubar .ui-menuitem-link .ui-menuitem-text {
  color: #333333;
  font-size: 12px !important;
}
.ui-card{
  margin:auto auto 20px auto;
}
.filter{
  *{
    font-size: 11px !important;
  }
}

// .editable-unfrozen-table{
//   .ui-panel{
//     width:fit-content !important;
//     min-width: 50% !important;
//   }
//   .ui-table,table{
//     width:fit-content !important;
//     min-width: 100% !important;
//   }
// }
.small,.id,.Checkbox,.Link,.EmailButton,.ReportButton{
  width:50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  text-align: center !important;
  margin: auto !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.medium,.int,.decimal,.real{
  width:100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.large,.Text,.datetime,.DropDownList,.date,.string{
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.align-right,.int,.decimal,.real,.date,.datetime{
  text-align: right !important;
  // justify-content: end !important;
  padding-right:4px !important;
}
.align-left,.DropDownList{
  text-align: left !important;
  // justify-content: start !important;
  padding-left:2px !important;
}
.ui-inputtext,.ui-dropdown,.ui-multiselect,.ui-multiselect-trigger,.ui-dropdown-trigger{   //input box color 
  background-color: #f9fafa !important;
}
// .align-right{
//   *{
//     text-align: right !important;
//   }
// }
.rowhighlight{
  background-color: white !important ;
}
.highlight{
  background-color: #d5d5d5 !important;
  color: black;
}
.hiddenclass{
  display: none !important;
  height: 0;
  width: 0;
}  
// .myclass{
//   width:200px !important;
//   min-width:200px !important; 
//   input{
//       width: 150px;
//       min-width: 150px;
//   }
// }
.inputbox{
  border-bottom: 1px solid #c3c3c3;
  &:hover{
    border: 1px solid gray;
    color: gray;
    background-color: white;
  }
}
/*---------------------Primeng button and icon -------------------------*/
td .ui-button
{
  padding:2px!important;
  font-size: 11px!important;
  color:white!important;
  height: 25px !important;
  width:35px !important;
}

td .ui-button .pi 
{
  font-size: 2em!important;
}

td a .pi
{
  font-size: 2em!important;
}
/*---------------------------------------------------------*/

/*------ common scss excluded form panel   ------*/

// .ui-calendar{
//   width:100%;
// }
// .int,.decimal{
//   text-align: right !important;
//   * {
//   text-align: right !important;
//   padding-right: 5px;
//   }
// }
// .Text{
//   width:200px !important;
//   min-width:200px !important; 
//   input{
//       width: 150px;
//       min-width: 150px;
//   }
// }

// .rowCheckbox,.Checkbox{
//   text-align: center !important;
//   width:50px !important;
//   min-width:50px !important; 
//   max-width: 50px !important;
//   input{
//       width: 45px;
//       max-width: 45px;
//   }
// }
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.571em 0.5em !important;
}
/*------ common scss end -------------------------*/


/*------- scss for panel/form inside panel/table inside panel  ----*/
.ui-panel {        /*---------        Panel for form/table start        -----------*/
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: 0 !important;
  padding: 20px;
  margin-bottom: 20px;
  .ui-panel-titlebar {        /*-----------   Panel header start   -----------*/
    background-color: #ffffff !important;
    padding: 10px 20px 0 24px;
    font-size: 16px;
    color: #000000;
    min-height: 37px;
    height: 37px;
    border: 0 !important;
    border-radius: 4px;
    .ui-panel-title {
        width: calc(100% - 25px);
        display: inline-block;
        .ui-panel-title-buttons {
          *{
            font-size: 11px !important;
          }
          .ui-multiselect{
            border: 1px solid #c3c3c3;
            background-color: #fafbfd;
            margin-left: 5px;
            margin-right:-14px;
            min-width:180px !important;
          } 
          .ui-multiselect .ui-multiselect-label {
            padding: 0.25em 2em 0.25em 0.25em !important;
          }
            .search-box{
              height:22px !important;
              width: 180px !important;
              margin-top: 6px !important;
            }
            float: right;
            margin: -0.5em 0.3em;
        }
    }
    .ui-panel-titlebar-icon {
      margin: 1px -7px 0 0 !important;
    }
  }

  .ui-panel-content { 
    *{
        font-size: 11px !important;
    }
    padding: 0 1em 1em 1em !important;
    border: 0 !important;
  }                                        /*-----Panel header end-----*/
  .form{                            /*--------   form start   ---------*/
    .p-field{
      margin-bottom: 0;
    }
    .divitemclass {
      display: flex;
      flex-direction: row;
      height: auto;
      .itemclass {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding-top: 12px;
        border-bottom: 1px solid #d3d3d3 !important;
        .labelclass {
          font-size: 11px;
          margin-left: 7px;
        }
        .ui-dropdown {
          width: 100%;
          border: 0 !important;
          height: 28px;
          .ui-dropdown-label {
            padding-right: 4em;
            height: 25px;
          }
        }
        .ui-multiselect{
          width: 100%;
          padding: 0;
          border: 0;
          margin: 0;
        }
        .ui-inputtext{
          border:0;
        }
        p-calendar .ui-inputtext, .ui-calendar{
          width: 100%;
          border: 0;
        }
      } 
    }
  }  /*---- form end ----*/
}

/*------- scss for panel/form inside panel/table inside panel  ----*/


////////////////////////////////////////////side filter panel ///////////////////
.filter{
  .p-grid{
    justify-content: flex-end !important;
  }
  .ui-button{ //filter submit button
    width: 100% !important;
  }
  .filterInputs{
    margin-top:10px;
  } 
  .ui-dropdown, .ui-multiselect{
  padding-left: 0px;
  min-width: 200px;
  min-height: 20px !important; 
  height: 23px !important;
}
  // .mat-form-field-wrapper{
  //   padding: 0 !important;
  // }
} 

.ui-datepicker{//filter datepicker box
  width:400px !important; 
}
/////////////////////////////////////////End of filter panel////////////////////////////////


//////////////////////////Prime NG Dropdowns/////////////////////////////////////
// .ui-multiselect-panel,.ui-dropdown-panel{//primeng multiselect
//   min-width: 300px !important;
//   width: auto !important;
// }
// p-multiselect,.ui-multiselect{
//   width: 100% !important;
//   padding: 0 !important;
//   border: 0 !important;
//   margin:  0 !important;
// }
// .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
//   margin-left: -2px !important;
// }
// .ui-dropdown{
//   width: 100%;
//   border: 0 !important;
//   -webkit-appearance: none;
//   -moz-appearance:none;
//   outline: none !important;
// }
// .ui-dropdown:focus,.ui-dropdown:active{
//   -webkit-appearance: none;
//   -moz-appearance:none;
//   outline: none !important;
// }

//primeng rowsperpageoption dropdown
.ui-paginator .ui-dropdown
{
    max-width: 80px !important;
}

.ui-paginator {
  *{
    font-size: 11px !important;
  }
  // padding-top:20px !important;
  .ui-dropdown {
      float: left;
  }

  .ui-paginator-current {
      float: right;
  }
}

.ui-table .ui-paginator-bottom
{
    border-top: 1!important;
}
////////////////////////////////////////////////////////End Prime NG dropdowns

/////////////////Prime Table/////////////////////////
.ui-table .ui-table-caption
{//caption template
  height: 50px!important;
}

.editable-unfrozen-table .ui-table .ui-table-thead > tr > th {
  padding: 2px;
  height: 35px;
  // width: 100px;
}
.ui-table-resizable .ui-table-thead>tr>th, .ui-table-resizable .ui-table-tfoot>tr>td, .ui-table-resizable .ui-table-tbody>tr>td
{
  // max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.ui-table .ui-table-thead > tr > th {
  
  //height: 97px;
  // width: 100px;
  font-size: 11px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  input{
    // border:0 !important;
    // background-color: transparent !important;
    width: 95%;
    text-align: center;
  }
}
.ui-table .ui-table-tbody > tr {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr:nth-child(odd) {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr > td >{
  padding: 2px !important;
  min-width: 50px !important;
  min-height: 30px !important;
  height:30px !important;
  max-height: 30px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  *{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  background-color: none !important;
  }
  
}
td {
  min-width: 50px !important;
  min-height: 30px !important;
  height:30px !important;
  max-height: 30px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  padding: 3px!important;
  *{  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: none !important;
  }

}
////////////////////////End of Prime Table/////////////////////////

////////////////Prime NG Treetable//////////////////////////////////
.ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler
{
  height: 25px;
}

.ui-treetable .ui-treetable-tbody > tr {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(even) {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(odd) { 
  background-color: none !important;
}
.ui-treetable .ui-treetable-thead > tr > th {
  
  font-size: 11px !important;
  input{
    // border:0 !important;
    // background-color: transparent !important;
    width: 95%;
    text-align: center;
  }
}

.ui-treetable .ui-treetable-tbody > tr > td {
  border:1px solid #f5f5f5 !important;
  font-size: 11px;
  padding: 3px!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 35px;
  min-height: 35px;
}

.ui-treetable .ui-treetable-tfoot > tr > td {
  //border:1px !important solid #c3c3c3;
  font-size: 11px;
  padding: 3px!important;
}

.ui-treetable .ui-paginator-bottom
{
  margin-top: 20px;
}

.ui-tree .ui-treenode-parent .ui-treenode-label {
  background-color:#CCCCCC;
  }
  
  .ui-tree .ui-treenode-children .ui-treenode-label {
  background-color:#E1DFD7;
  }

  .ui-treetable .ui-editable-column input
  {
    color: #333333;
    width: 90%;
    text-align: center;
    height: 25px;
    font-size: 12px;
  }
/////////////////////End PrimeNG Treetable//////////////////////




////////////////////////////////////////////Material css////////////////////////////////////
///Will be removed

.my-class{
  
  background-color: #f5f5f5 !important;
}
.largecol{
  width: 120px !important;
}
.red{
  color:red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 2px; 
}
ion-content{
  --background-color:#fafbfd;
  ion-button{
    --border-radius:0;
  }
}
.mobile-label,.hidden,.hidden-item{
  display: none;
}
mat-card,.mat-accordion{
  border-radius:0 !important;
}
.table,mat-table{
  max-height: 400px;
  overflow: auto;
  *{
    font-size: 11px !important;
  }
}
.mat-header-row,.mat-footer-row,.mat-row,.mat-header-cell,.mat-footer-cell,.mat-cell{
  min-height: 35px !important;
  justify-content: flex-start;
  border-bottom-style: none;
}
.mat-header-row,.mat-header-cell{
  align-items: flex-start;
  line-height: 1;
  padding-top: 10px !important;
}
.mat-cell{
  word-break:break-word;
}
.mat-header-cell{
  font-size: 11px;
  font-weight: bolder !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgba(2, 2, 2, 0.87);
  padding-left: 2px !important;
}
.mat-cell{
  font-size: 11px !important;
  font-weight: 300 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgba(2, 2, 2, 0.87);
  padding-left: 2px !important;
}
.mat-row,.mat-header-row,.mat-footer-row{
  padding: 0 10px 0 10px!important;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0 !important;
}
.mat-footer-row,.mat-footer-cell{
  align-items: flex-end !important;
}
.mat-cell{
  ion-input{
    text-align: right !important;
    border-bottom: 1px solid #c3c3c3;
    margin-left: 3px;
    margin-bottom: 3px;
  }
}
.report-table{
  .mat-row:nth-child(odd),.mat-footer-row{
    background-color: #f5f5f5;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.table {
  .mat-row:nth-child(4n),.mat-footer-row {
      background-color: #f5f5f5 !important;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.pivot-table{
  .mat-row:nth-child(4n),.mat-footer-row{
    background-color: #f5f5f5 !important;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.numb-cell, .numb-header {
  justify-content: flex-end;
  float: right;
  text-align: right !important;
  .mat-sort-header-container{
    flex-direction: row-reverse;
  }
}
.filterCard{
  width: 20%;
  z-index: 200;
  position: fixed !important;
  right:0;
  top: 0;
  margin: 0 !important;
  height: 100%;
  background-color: white;
  overflow: auto;
}
.mat-card{
  padding-bottom: 0 !important;
  .mat-card-header{
    .mat-card-header-text{
      margin: 0;
    }
    justify-content: space-between;
  }
}
.search-box{
  border: 1px solid #c3c3c3;
  font-size: 11px !important;
  width: 170px !important;
  padding: 5px !important;
  height: 25px;
  font-weight: 300;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-box:focus{
  background-color: #ffffff;
}
:host ::ng-deep.mat-expansion-panel .mat-expansion-panel-body{
  padding: 0 !important;
}
.mat-expansion-panel{
  mat-panel-title{
    font-size: 20px;
  }
  .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
  }
  .mat-card{
    box-shadow: none;
    border: none;
    padding: 0 !important;
  }

}

.mat-paginator .mat-paginator-container{
  padding: 0;
  flex-direction: row !important;
  justify-content: space-between !important;
  font-size: 16px;
}
.mat-expansion-panel-header{
  max-height: 55px !important;
}

@media(min-width:600px){
  .big{
    width:25% !important;
    min-width: 15%;
    white-space: normal;
  }
  .int-cell,.int-footer,.int-header,.decimal-header,.decimal-footer,.decimal-cell{
    justify-content: flex-end;
    float: right;
    text-align: right !important;
    .mat-sort-header-container{
      flex-direction: row-reverse;
    }
  }
}


@media(max-width:900px){
  .detail-elements {
  float: left;
  width: 100%;
}
table,.mat-table{
  height: auto;
}
.search-box{
  margin-top: 0px;
  height: 30px;
  max-width: 140px;
}
.mat-cell,.mat-column-Detail {
  width: 100% !important;
}
.hidden-item{
  display: inline-block;
}
.mobile-label {
  width: auto;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  // width:120px;
}
.mat-header-cell:first-of-type,.mat-cell:first-of-type{
  padding: 5px !important;
}
.mat-header-row,.mat-footer-row {
  display: none;
}
.mat-row {
  flex-direction: column;
  align-items: start;
}
.filterCard,.filter{
  width: 80% !important;
  min-width: 80% !important;
}
.ui-panel .ui-panel-titlebar {
  border: 0 !important;
  min-height: auto;
  height:auto;
  .ui-panel-title {
    width: calc(100% - 25px);
    display: inline-grid;
  }
  .search-box{
    margin-left:-9px;
    min-width:100% !important;
  }
}
.ui-paginator {
  padding-top:20px !important;
  .ui-dropdown {
      float: none !important;
      display: block !important;
      margin: auto !important;

  }
  .ui-paginator-current {
      float: none !important;
      display: block !important;
      margin: auto !important;
  }
}
ion-button{
  margin:0;
}  
.mat-paginator .mat-paginator-container{
  justify-content: center !important;
  flex-direction: column !important;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  white-space: nowrap;
}

}
#cover {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0,0,0,0.35) !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 500% !important;
  cursor: wait !important;
  .message {
      background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
      position: absolute !important;
      transform: translate(89%, 49%) !important;
      width: 35% !important;
      text-align: center !important;
      padding: 3% !important;
      box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #dddddd;
  font-weight: 300;
  color: black;
}
.ui-button{
  font-size: 12px !important;
}
.ui-table td{
  .ui-inputtext,.ui-dropdown,.ui-multiselect,.ui-multiselect-trigger,.ui-dropdown-trigger{   //input box color 
    background-color: transparent !important;
    border: 0 !important;
  }
  .ui-state-disabled, .ui-widget:disabled {
    opacity: 1 !important;
  }
  p-calendar .ui-inputtext, .ui-calendar, .ui-dropdown, .ui-multiselect, .ui-inputtext, .ui-inputnumber{
    width: 100%;
  }
  .ui-dropdown{
    min-width: 7.5em !important;
  }
  .ui-multiselect-panel, .ui-dropdown-panel{
    min-width: 300px !important;
    width: auto !important;
  }
  .ui-inputnumber{
    text-align: right !important;
  }
}
 
.ui-paginator .ui-paginator-pages .ui-state-active{
  background-color: transparent!important;
  color: #007ad9 !important;
  font-weight: bolder;
  }
  body .ui-widget {
    font-family: var(--ion-font-family), "Helvetica Neue" sans-serif !important; 
  }
.requiredmark{
  color: red;
}

// :host ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
//   box-sizing: border-box;
//   position: relative;
//   /* -webkit-user-select: none; */
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   cursor: pointer;
//   outline: 0;
//   border: none;
//   -webkit-tap-highlight-color: transparent;
//   display: inline-block;
//   white-space: nowrap;
//   text-decoration: none;
//   vertical-align: baseline;
//   text-align: center;
//   margin: 0;
//   min-width: 64px;
//   line-height: 36px;
//   padding: 0 16px;
//   border-radius: 4px;
//   overflow: visible;
// }
