// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Header style start */
ion-toolbar{
  --min-height:30px !important;
  --max-height: 35px !important;
  ion-title{
    --font-size: 14px !important;
  }
}




/* Header style end */










ion-router-outlet#content.hydrated.menu-content.menu-content-overlay{
  margin-top:96px !important;
}
body .ui-menubar {
  margin-top: 58px !important;
  height: 45px !important;
  background-color: var(--surface-d) !important;
}
body .ui-menubar .ui-menuitem-link .ui-menuitem-text {
  color: #333333;
  font-size: 12px !important;
}
.ui-card{
  margin:auto auto 20px auto;
}
.filter{
  *{
    font-size: 11px !important;
  }
}

// .editable-unfrozen-table{
//   .ui-panel{
//     width:fit-content !important;
//     min-width: 50% !important;
//   }
//   .ui-table,table{
//     width:fit-content !important;
//     min-width: 100% !important;
//   }
// }

.ui-table td{
  .ui-inputtext,.ui-dropdown,.ui-multiselect,.ui-multiselect-trigger,.ui-dropdown-trigger{   //input box color 
    background-color: transparent !important;
    border: 0 !important;
  }
  .ui-state-disabled, .ui-widget:disabled {
    opacity: 1 !important;
  }
  p-calendar .ui-inputtext, .ui-calendar, .ui-dropdown, .ui-multiselect, .ui-inputtext, .ui-inputnumber{
    width: 100%;
  }
  .ui-dropdown{
    min-width: 7.5em !important;
  }
  .ui-multiselect-panel, .ui-dropdown-panel{
    min-width: 300px !important;
    width: auto !important;
  }
  .ui-inputnumber-input{
    text-align: right !important;
  }
}

.ui-dropdown{
  min-height: 25px !important;
}
body .ui-table .ui-table-summary{
  display: none !important;
}
.small,.id,.Checkbox,.Link,.EmailButton,.ReportButton{
  width:50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  text-align: center !important;
  margin: auto !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.ui-breadcrumb{
  width: 50% !important;
  border: 0 !important;
  background: transparent !important;
}
.medium,.int,.decimal,.real{
  width:100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.large,.Text,.datetime,.DropDownList,.date,.string{
  width: 100px !important;
  min-width: 100px !important;
  max-width: 150px !important;
  overflow: hidden !important;
  white-space:  nowrap !important;
  text-overflow: ellipsis;
}
.align-right,.int,.decimal,.real,.date,.datetime{
  text-align: right !important;
  // justify-content: end !important;
  th{
    padding-right:0px !important;
  }
}
.align-left,.DropDownList{
  text-align: left !important;
  // justify-content: start !important;
  padding-left:0px !important;
}
.ui-inputtext,.ui-dropdown,.ui-multiselect,.ui-multiselect-trigger,.ui-dropdown-trigger{   //input box color 
  background-color: #f9fafa !important;
}
// .align-right{
//   *{
//     text-align: right !important;
//   }
// }
.rowhighlight{
  background-color: white !important ;
}
.highlight{
  background-color: #d5d5d5 !important;
  color: black;
}
.hiddenclass{
  display: none !important;
  height: 0;
  width: 0;
}  
// .myclass{
//   width:200px !important;
//   min-width:200px !important; 
//   input{
//       width: 150px;
//       min-width: 150px;
//   }
// }
.inputbox{
  border-bottom: 1px solid #c3c3c3;
  &:hover{
    border: 1px solid gray;
    color: gray;
    background-color: white;
  }
}
/*---------------------Primeng button and icon -------------------------*/
td .ui-button
{
  padding:2px!important;
  font-size: 11px!important;
  color:white!important;
  height: 25px !important;
  width:35px !important;
}
.ui-table .ui-table-thead>tr>th{
  .pi{
    font-size: 10px !important
  }
}
.ui-table .ui-table-thead>tr>th, .ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-tfoot>tr>td {
  padding: 2px !important;
  border: 1px solid #c8c8c838 !important
}
body .ui-table .ui-table-thead > tr > th {
  padding: 2px !important;
}
td .ui-inputtext,th .ui-inputtext{
  padding: 0 !important;
}
td .ui-button .pi 
{
  font-size: 2em!important;
}
td a .pi
{
  font-size: 2em!important;
}
/*---------------------------------------------------------*/

/*------ common scss excluded form panel   ------*/

// .ui-calendar{
//   width:100%;
// }
// .int,.decimal{
//   text-align: right !important;
//   * {
//   text-align: right !important;
//   padding-right: 5px;
//   }
// }
// .Text{
//   width:200px !important;
//   min-width:200px !important; 
//   input{
//       width: 150px;
//       min-width: 150px;
//   }
// }

// .rowCheckbox,.Checkbox{
//   text-align: center !important;
//   width:50px !important;
//   min-width:50px !important; 
//   max-width: 50px !important;
//   input{
//       width: 45px;
//       max-width: 45px;
//   }
// }
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0 !important;
}
/*------ common scss end -------------------------*/
.ui-button:focus {
  outline: none !important;
}
body .ui-button.ui-state-default.ui-button-secondary:enabled:focus, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
  //box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: none !important;
}

/*------- scss for panel/form inside panel/table inside panel  ----*/
.ui-panel { 
  //box-shadow: none !important;       /*---------        Panel for form/table start        -----------*/
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: 0 !important;
  padding: 20px;
  margin-bottom: 20px;
  .ui-panel-titlebar {        /*-----------   Panel header start   -----------*/
    background-color: #ffffff !important;
    padding: 10px 20px 0 24px;
    font-size: 16px;
    color: #000000;
    min-height: 37px;
    height: 37px;
    border: 0 !important;
    border-radius: 4px;
    .ui-panel-title {
        width: calc(100% - 15px);
        display: inline-block;
        font-weight: 500 !important;
        .ui-panel-title-buttons {
          *{
            font-size: 12px !important;
          }
          .ui-button{
            padding: 7px;
            background: white !important;
            border: none !important;
          }
          .ui-multiselect{
            border: 1px solid #c3c3c3;
            background-color: #fafbfd;
            margin-left: 5px;
            margin-right:-14px;
            min-width:180px !important;
          } 
          .ui-multiselect .ui-multiselect-label {
            padding: 0.25em 2em 0.25em 0.25em !important;
          }
            .search-box{
              height:20px !important;
              width: 120px !important;
              margin-top: 6px !important;
            }
            float: right;
            margin: -0.5em 0.3em;
        }
    }
    .ui-panel-titlebar-icon {
      margin: 1px -7px 0 0 !important;
    }
  }
}
  .ui-panel-content { 
    *{
        font-size: 12px !important;
    }
    padding: 0 1em 1em 1em !important;
    border: 0 !important;
  }                                        /*-----Panel header end-----*/
//   .form{                            /*--------   form start   ---------*/
//     .p-field{
//       margin-bottom: 0;
//     }
//     .divitemclass {
//       display: flex;
//       flex-direction: row;
//       height: auto;
//       .itemclass {
//         display: flex;
//         justify-content: flex-start;
//         flex-direction: column;
//         width: 100%;
//         padding-top: 12px;
//         border-bottom: 1px solid #d3d3d3 !important;
//         .labelclass {
//           font-size: 11px;
//           margin-left: 7px;
//         }
//         .ui-dropdown {
//           width: 100%;
//           border: 0 !important;
//           height: 28px;
//           .ui-dropdown-label {
//             padding-right: 4em;
//             height: 25px;
//           }
//         }
//         .ui-multiselect{
//           width: 100%;
//           padding: 0;
//           border: 0;
//           margin: 0;
//         }
//         .ui-inputtext{
//           border:0;
//         }
//         p-calendar .ui-inputtext, .ui-calendar{
//           width: 100%;
//           border: 0;
//         }
//       } 
//     }
//   }  /*---- form end ----*/
// }

/*------- scss for panel/form inside panel/table inside panel  ----*/


////////////////////////////////////////////side filter panel ///////////////////
.filter{
  .p-grid{
    justify-content: flex-end !important;
  }
  .filterInputs{
    margin-top:10px;
  } 
  .ui-dropdown, .ui-multiselect{
  padding-left: 0px;
  min-width: 100px;
  min-height: 25px !important;
  height:25px; 
  background: white !important;
}
.ui-inputtext{
  max-height: 25px !important;
  background: white !important;
}
  // .mat-form-field-wrapper{
  //   padding: 0 !important;
  // }
} 

.ui-datepicker{//filter datepicker box
  width:400px !important; 
}
/////////////////////////////////////////End of filter panel////////////////////////////////


primeng rowsperpageoption dropdown
.ui-paginator .ui-dropdown
{
    max-width: 80px !important;
}

.ui-paginator {
  *{
    font-size: 11px !important;
  }
  // padding-top:20px !important;
  .ui-dropdown {
      float: left;
  }

  .ui-paginator-current {
      float: right;
  }
}

.ui-table .ui-paginator-bottom
{
    border: 0 !important;
}
////////////////////////////////////////////////////////End Prime NG dropdowns

/////////////////Prime Table/////////////////////////
// .ui-table .ui-table-caption
// {//caption template
//   height: 50px!important;
// }

// .editable-unfrozen-table .ui-table .ui-table-thead > tr > th {
//   // padding: 2px;
//   // height: 35px;
//   // width: 100px;
// }
// .ui-table-resizable .ui-table-thead>tr>th, .ui-table-resizable .ui-table-tfoot>tr>td, .ui-table-resizable .ui-table-tbody>tr>td
// {
//   // max-width: 0;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   text-align: left;
// }
// .ui-table .ui-table-thead > tr > th {
  
//   //height: 97px;
//   // width: 100px;
//   font-size: 12px;
//   overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   input{
//     // border:0 !important;
//     // background-color: transparent !important;
//     width: 100%;
//     text-align: center;
//   }
// }
.ui-table .ui-table-tbody > tr {
  background-color: white !important;
}
.ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: white !important;
}
.ui-table .ui-table-tbody > tr:nth-child(odd) {
  background-color: white !important;
}
// .ui-table .ui-table-tbody > tr > td >{
//  // padding-left: 1px !important;
//   // min-width: 50px !important;
//   // min-height: 30px !important;
//   // height:30px !important;
//   // max-height: 30px !important;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   *{
//   white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   background-color: none !important;
//   }
  
// }
// td {
//   // min-width: 50px !important;
//   // min-height: 30px !important;
//   // height:30px !important;
//   // max-height: 30px !important;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   font-size: 11px;
//   padding: 0px!important;
//   *{  
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   background-color: none !important;
//   }

// }
////////////////////////End of Prime Table/////////////////////////

////////////////Prime NG Treetable//////////////////////////////////
.ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler
{
  height: 25px;
}

.ui-treetable .ui-treetable-tbody > tr {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(even) {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(odd) { 
  background-color: none !important;
}
.ui-treetable .ui-treetable-thead > tr > th {
  
  font-size: 11px !important;
  input{
    // border:0 !important;
    // background-color: transparent !important;
    width: 95%;
    text-align: center;
  }
}

.ui-treetable .ui-treetable-tbody > tr > td {
  border:1px solid #f5f5f5 !important;
  font-size: 11px;
  padding: 3px!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 35px;
  min-height: 35px;
}

.ui-treetable .ui-treetable-tfoot > tr > td {
  //border:1px !important solid #c3c3c3;
  font-size: 11px;
  padding: 3px!important;
}

.ui-treetable .ui-paginator-bottom
{
  margin-top: 20px;
}

.ui-tree .ui-treenode-parent .ui-treenode-label {
  background-color:#CCCCCC;
  }
  
  .ui-tree .ui-treenode-children .ui-treenode-label {
  background-color:#E1DFD7;
  }

  .ui-treetable .ui-editable-column input
  {
    color: #333333;
    width: 90%;
    text-align: center;
    height: 25px;
    font-size: 12px;
  }
/////////////////////End PrimeNG Treetable//////////////////////





input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 2px; 
}
.filterCard{
  width: 20%;
  z-index: 200;
  position: fixed !important;
  right:0;
  top: 0;
  margin: 0 !important;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.search-box{
  border: 1px solid #c3c3c3;
  font-size: 11px !important;
  width: 170px !important;
  padding: 5px !important;
  height: 25px;
  font-weight: 300;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media(max-width:900px){
  .detail-elements {
  float: left;
  width: 100%;
}
table,.mat-table{
  height: auto;
}
.search-box{
  margin-top: 0px;
  height: 30px;
  max-width: 140px;
}
.mat-cell,.mat-column-Detail {
  width: 100% !important;
}
.hidden-item{
  display: inline-block;
}
.mobile-label {
  width: auto;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  // width:120px;
}
.mat-header-cell:first-of-type,.mat-cell:first-of-type{
  padding: 5px !important;
}
.mat-header-row,.mat-footer-row {
  display: none;
}
.mat-row {
  flex-direction: column;
  align-items: start;
}
.filterCard,.filter{
  width: 80% !important;
  min-width: 80% !important;
}
.ui-panel .ui-panel-titlebar {
  border: 0 !important;
  min-height: auto;
  height:auto;
  .ui-panel-title {
    width: calc(100% - 25px);
    display: inline-grid;
  }
  .search-box{
    margin-left:-9px;
    min-width:100% !important;
  }
}
.ui-paginator {
  padding-top:20px !important;
  .ui-dropdown {
      float: none !important;
      display: block !important;
      margin: auto !important;

  }
  .ui-paginator-current {
      float: none !important;
      display: block !important;
      margin: auto !important;
  }
}
}
#cover {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0,0,0,0.35) !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 500% !important;
  cursor: wait !important;
  .message {
      background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
      position: absolute !important;
      transform: translate(89%, 49%) !important;
      width: 35% !important;
      text-align: center !important;
      padding: 3% !important;
      box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }
}
.ui-button{
  font-size: 12px !important;
}
.ui-table td{
  .ui-inputtext,.ui-dropdown,.ui-multiselect,.ui-multiselect-trigger,.ui-dropdown-trigger{   //input box color 
    background-color: transparent !important;
    border: 0 !important;
  }
  .ui-state-disabled, .ui-widget:disabled {
    opacity: 1 !important;
  }
  p-calendar .ui-inputtext, .ui-calendar, .ui-dropdown, .ui-multiselect, .ui-inputtext, .ui-inputnumber{
    width: 100%;
  }
  .ui-dropdown{
    min-width: 7.5em !important;
  }
  .ui-multiselect-panel, .ui-dropdown-panel{
    min-width: 300px !important;
    width: auto !important;
  }
  .ui-inputnumber{
    text-align: right !important;
  }
}
 
.ui-paginator .ui-paginator-pages .ui-state-active{
  background-color: transparent!important;
  color: #007ad9 !important;
  font-weight: bolder;
  }
  body .ui-widget {
    font-family: var(--ion-font-family), "Helvetica Neue" sans-serif !important; 
  }
.requiredmark{
  color: red;
}

.ui-panelmenu .ui-panelmenu-icon {
  vertical-align: middle;
  display: none !important;
}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{
color: #333333;
background: lightgray !important;
}


body .ui-menubar {
padding: 0;
background-color: #ffffff;
border-bottom: 1px solid #c8c8c8;
}

body .ui-corner-all {
 border-radius: 0!important;
}

.ui-menubar .ui-menubar-root-list>.ui-menuitem {
display: inline-block;
position: relative;
border-right: solid 1px lightgrey;
line-height: 100%;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}

a.ui-menuitem-link.ui-corner-all.ng-star-inserted.active//to highlight submenus in top menubar
{
background-color:lightgrey!important;
color:white!important;
outline:0!important;
// border-radius: 0.2rem!important;
}
a.ui-menuitem-link.ui-corner-all.ng-star-inserted.active:focus
{
outline: 0!important;
outline-style: none;
}
.ui-menubar .ui-menubar-root-list>.ui-menuitem>a:focus
{
outline: 0!important;
outline-style:white;
}
.panel-import
{
    width:100%;
    //border: solid lightgrey 1px;
   // margin-top:10px;
    padding:2px 2px 2px 4px;
    text-align: right;
}