<!-- Loader Starts-->
<div *ngIf="show" id="cover">
  <div ng-show="showLoader" class="center">
      <div class="message">
          Please wait ... <br>
          <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

      </div>
  </div>
</div>
<!-- Loader Ends-->

<ion-header>
    <ion-toolbar class="new-background-color" align-title="center">
        <ion-title >Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content  class="background">
    <!--<div id="webchat" role="main"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script>
      window.WebChat.renderWebChat({
        directLine: window.WebChat.createDirectLine({ token: 'qQDaXfBLHV0.cwA.U_w.CghIxhXTBl2cG343W0hris51Qq8RZPK4XrM_YjPwH0I' }),
        userID: 'YOUR_USER_ID'
      }, document.getElementById('webchat'));
  </script>-->
  <ion-grid>
    <ion-row>
        <ion-col class="showcase">
            <h1 text-center>Manage Your Business Account</h1>
            <ion-img text-center src="../assets/images/TLogin.jpg"></ion-img>
        </ion-col>
        <ion-col class="login-side">
            <h2 class="login-label" text-center>Logixmile</h2>
            <ion-card color="#d7eceb" margin padding>
                <ion-card-header>
                    <ion-card-subtitle text-center>
                        <!-- Enter details to Login -->
                    </ion-card-subtitle>
                </ion-card-header>
              <ion-card-content>

                    <mat-horizontal-stepper linear #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                              <form [formGroup]="firstFormGroup" #emailForm>
                                <div><h2>Login</h2></div>
                                <mat-form-field  appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input matInput placeholder="Email" formControlName="firstCtrl" #username required>
                                 
                                </mat-form-field>
                                <div style="text-align:center;">
                                      
                                  <button style="width:100%" mat-flat-button matStepperNext (click)="SendOtp(username.value)">Send OTP</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                              <form [formGroup]="secondFormGroup" #loginForm>
                                    <div>Enter OTP you received on {{username.value}}</div>

                                <mat-form-field>
                                    <mat-label>OTP</mat-label>
                                  <input matInput placeholder="OTP"  #otp formControlName="secondCtrl" required>
                                </mat-form-field>
                                <div>
                                  <button mat-button matStepperPrevious>Back</button>
                                  <button mat-button style="margin-left:10px;" (click)="LoginWithOTP(otp.value)">Login</button>
                                </div>
                              </form>
                            </mat-step>
                            
                          </mat-horizontal-stepper>
                          <div  style="text-align: center">
                              <a  [routerLink]="['/registration/tabs']">New User? Register here!</a>
                          </div>
                       
           
            </ion-card-content>
        </ion-card>
       
                <div  style="text-align: center;margin-top: 20px;">
                <a  [routerLink]="['/login']">Login as Admin</a>
                </div>
           
            
               
        
    </ion-col>
</ion-row>
</ion-grid>
<ion-grid class="blank">
    <ion-row>
        <ion-col>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>